<ion-nav-view   class="slide-left-right" hide-nav-bar="true">
    <ion-view hide-nav-bar="true">
        <ion-content style="padding:0;margin:0;" scroll="false">
            <div style="height: 230px;width: 100%;background: #f56a5f;position: relative">
                <div style="position: absolute;top:30px;left:15px;">
                    <span style="font-size: 2.1em;color:#fff;vertical-align: middle;"><i class="ion-chevron-left"></i></span>
                    <span style="font-size:1.4em;color:#fff;font-weight: bold;vertical-align: middle;">&nbsp;返回</span>
                </div>
            </div>
            <div ng-style="st">
                <div class="list">
                    <li class="item item-toggle" ng-repeat="permission in permissions">
                        <span style="color:#222;font-weight: bold;margin-left:20px;font-size:1.2em;">
                            {{permission.name}}
                        </span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="permission.val" ng-value="permission.val"
                                   ng-change="permissionChange(permission,$index)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                </div>
            </div>
        </ion-content>

    </ion-view>

</ion-nav-view>
