<ion-nav-view   class="slide-left-right" hide-nav-bar="true">
    <ion-view hide-nav-bar="true">
        <ion-content style="padding:0;margin:0;" scroll="false">
            <div style="height: 200px;width: 100%;background: #f56a5f;position: relative">
                <div style="position: absolute;top:15px;left:5px;padding:15px;width: 120px;height: 50px;">
                    <div style="width: 100%;height: 100%;" ng-click="goBack()">
                        <span style="font-size: 2.1em;color:#fff;vertical-align: middle;"><i class="ion-chevron-left"></i></span>
                        <span style="font-size:1.4em;color:#fff;font-weight: bold;vertical-align: middle;">&nbsp;返回</span>
                    </div>
                </div>

                <div style="position: absolute;top:50px;width:100%;left:0;">
                    <div style="width: 100%;height: 100%;display: table;">
                        <div style="display: table-cell;vertical-align: middle;text-align: center;">
                            <img src="img/welcome-end.png" style="width:170px;height:170px;">
                        </div>
                    </div>
                </div>
            </div>
            <div ng-style="st">
                <div class="list">
                    <li class="item item-toggle" ng-repeat="permission in permissions" style="border-top:0;">
                        <span style="color:#222;font-weight: bold;margin-left:20px;font-size:1.2em;">
                            {{permission.name}}
                        </span>
                        <label class="toggle toggle-positive">
                            <input type="checkbox" ng-model="permission.val" ng-value="permission.val"
                                   ng-change="permissionChange(permission,$index)">
                            <div class="track">
                                <div class="handle"></div>
                            </div>
                        </label>
                    </li>

                </div>
            </div>
        </ion-content>

    </ion-view>

</ion-nav-view>
