
<ion-modal-view  class=" carInfo_modal animated slideInDown">

    <ion-content style="width: 100%;height:100%;border: 1px solid #eee;border-top:0px;margin: 0 auto;background: #fff;
 background-image: url('img/bkg4@2x.png'); background-repeat: no-repeat;background-size:100%;background-position: 0% 100%;">
        <!-- header bar -->
        <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
            <h1 class="title" style="display: inline-block;width:100%;text-align:center;">
                <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;"  ng-click="close_append_carNumPrefixModal()">
                    <i class="ion-chevron-left"></i>
                </span>
                <span style="display: inline-block;width: 90%;text-align: center;padding-right:15%">
                    选择城市
                </span>
            </h1>
        </div>

        <div class="list padding" style="padding-bottom: 0px;margin-bottom: 0px;">
            <div class="item" style="border:0px;padding:10px;">
                <span class="input-label" style="display: inline-block;width: 30%;text-align: left;">
                    当前选择城市:
                </span>
                <span style="display: inline-block;width: 70%;text-align: left;">
                      <input type="text"
                             style="display: inline-block;text-align: left;padding-left:20px;"
                             disabled="true"
                      value="{{city}}"/>
                </span>
            </div>
        </div>

        <!-- 热们城市 -->
        <div class="list padding" style="background:transparent;padding-left:16px;padding-right: 16px;">
            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='济南'?selectedStyle:plainStyle"
                      ng-click="city_select('济南')"
                >
                    济南
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='青岛'?selectedStyle:plainStyle"
                      ng-click="city_select('青岛')"
                >
                    青岛
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
                <span ng-style="city=='淄博'?selectedStyle:plainStyle"
                      ng-click="city_select('淄博')"
                >
                    淄博
                </span>
            </div>

            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='枣庄'?selectedStyle:plainStyle"
                      ng-click="city_select('枣庄')"
                >
                    枣庄
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='东营'?selectedStyle:plainStyle"
                      ng-click="city_select('东营')"
                >
                    东营
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
                <span ng-style="city=='烟台'?selectedStyle:plainStyle"
                      ng-click="city_select('烟台')"
                >
                    烟台
                </span>
            </div>

            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='潍坊'?selectedStyle:plainStyle"
                      ng-click="city_select('潍坊')"
                >
                    潍坊
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='济宁'?selectedStyle:plainStyle"
                      ng-click="city_select('济宁')"
                >
                    济宁
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
                <span ng-style="city=='泰安'?selectedStyle:plainStyle"
                      ng-click="city_select('泰安')"
                >
                    泰安
                </span>
            </div>

            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='威海'?selectedStyle:plainStyle"
                      ng-click="city_select('威海')"
                >
                    威海
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='日照'?selectedStyle:plainStyle"
                      ng-click="city_select('日照')"
                >
                    日照
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
                <span ng-style="city=='滨州'?selectedStyle:plainStyle"
                      ng-click="city_select('滨州')"
                >
                    滨州
                </span>
            </div>

            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='德州'?selectedStyle:plainStyle"
                      ng-click="city_select('德州')"
                >
                    德州
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='聊城'?selectedStyle:plainStyle"
                      ng-click="city_select('聊城')"
                >
                    聊城
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
                <span ng-style="city=='临沂'?selectedStyle:plainStyle"
                      ng-click="city_select('临沂')"
                >
                    临沂
                </span>
            </div>

            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;">
                <span ng-style="city=='菏泽'?selectedStyle:plainStyle"
                      ng-click="city_select('菏泽')"
                >
                    菏泽
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;border:0px;"></span>
                <span ng-style="city=='莱芜'?selectedStyle:plainStyle"
                      ng-click="city_select('莱芜')"
                >
                    莱芜
                </span>
                <span style="width: 1%;display: inline-block;background: transparent;"></span>
            </div>


            <div class="item" style="background: transparent;padding: 0px;margin-bottom:10px;margin-top:20px;border: 0px;
                    padding-left:10px;padding-right:10px;">
                <button class="button button-assertive" style="width: 60%;margin-left:20%;" ng-click="city_confirm()">
                    确认
                </button>
            </div>

        </div>



    </ion-content>
</ion-modal-view >
