<ion-modal-view  class=" carInfo_modal animated slideInDown" style="background: transparent">
    <ion-content
            class="carInfo_content"
            style="margin: 0 auto;top: 0%;background-image: url('img/bkg@2x.png');background-repeat: no-repeat;
                   background-size: 100%;background-position: 0% 100%;">

        <!-- header bar -->
        <div class="bar bar-header bar-dark" style="position: static;height:10%;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
            <h1 class="title" style="display: inline-block;width: 90%;margin-left:5%;text-align:center;margin-top:4%">
                <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;" ng-click="closeBindCarModal()">
                    <i class="fa fa-chevron-left"></i>
                </span>
                <span style="display: inline-block;width: 70%;text-align: center;">
                    绑定新车
                </span>
                <span style="display: inline-block;font-size:1.5em;text-align: center;width: 20%;"
                      ng-click="closeBindCarModal()">
                  <i class="ion-close-circled"></i>
              </span>
                <span style="display: inline-block;width: 5%;">
              </span>
            </h1>
        </div>



        <div class="list padding">

            <!-- 用车城市 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #646464;padding:10px;background-color:transparent;">
                <span style="display: inline-block;width: 5%;text-align: center">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left;color:#323232">
                    用车城市:
                </span>
                <span style="width: 50%;display: inline-block;text-align: left;color:#323232">
                    {{city_confirmed!==undefined&&city_confirmed!==null?city_confirmed:''}}
                </span>
                <span style="width: 20%;display: inline-block;text-align: center;font-size: 1.4em;"
                      ng-click="selectCarNumPrefixByCity()">
                    <i class="ion-chevron-right"></i>
                </span>
            </div>


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #646464;
             padding:10px;background-color:transparent;overflow:initial">
                <span style="display: inline-block;width: 5%;text-align: center">
                    <i class="fa fa-drivers-license-o"></i>
                </span>
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left;color:#323232">
                  车牌:
                </span>

                <span style="width: 50%;display: inline-block;text-align: left;">
                  <input type="text"
                         style="display:inline-block;background-color: transparent;color:#323232"
                         ng-model="carInfo.carNum"
                         ng-value="carInfo.carNum "
                         text-transform="uppercase"
                         ng-change="carNumChange()"
                  />
                </span>
                <span style="width: 20%;display: inline-block;"></span>

            </div>

            <div class="item" style="margin:1px;border:0px;
             padding:10px;background-color:transparent;overflow:initial;margin-top:15%">
                <div style="width: 100%;height: 100%;display: table;text-align: center;">
                    <button class="button  button-dark"
                            style="width: 60%;display: table-cell;vertical-align: middle;background: rgba(66, 56, 45, 0.9529);;color:#fff;"
                            ng-click="verifyCarNum()">
                        绑定新车
                    </button>
                </div>
            </div>





        </div>

    </ion-content>

</ion-modal-view>