<ion-modal-view  class=" carInfo_modal animated slideInDown>" style="background: transparent">
    <ion-content
            class="carInfo_content"
            style="margin: 0 auto;top: 0%;">

        <!-- header bar -->
        <div class="bar bar-header bar-dark" style="position: static;height:10%;width: 100%;padding-left: 16px;padding-right: 16px;">
            <h1 class="title" style="display: inline-block;width: 90%;margin-left:5%;text-align:center;margin-top:5%">
                <span style="display: inline-block;width: 10%;text-align: center" ng-click="closeBindCarModal()">返回</span>
                <span style="display: inline-block;font-size: 2em;text-align: right;width: 85%;"
                      ng-click="closeBindCarModal()">
                  <i class="ion-close-circled"></i>
              </span>
                <span style="display: inline-block;width: 5%;">
              </span>
            </h1>
        </div>



        <div class="list padding">

            <!-- 用车城市 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">
                <span style="display: inline-block;width: 5%;text-align: center">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">
                    用车城市:
                </span>
                <span style="width: 50%;display: inline-block;text-align: left;">
                    {{city_confirmed!==undefined&&city_confirmed!==null?city_confirmed:''}}
                </span>
                <span style="width: 20%;display: inline-block;text-align: center;font-size: 1.4em;"
                      ng-click="selectCarNumPrefixByCity()">
                    <i class="ion-chevron-right"></i>
                </span>
            </div>


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;background-color:transparent;overflow:initial">
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                  车牌:
                </span>

                <span style="width: 55%;display: inline-block;text-align: left;">
                  <input type="text"
                         style="display:inline-block;background-color: transparent;"
                         ng-model="carInfo.carNum"
                         ng-value="carInfo.carNum"
                         ng-change="changeToUpperCase(carInfo.carNum)"
                        />
                </span>

                <span style="display:inline-block;width: 20%;text-align: center;vertical-align: middle;"
                      ng-click="bindNewCar()">
                  <button class="button button-small button-dark"
                          style="background-color:rgba(66, 56, 45, 0.9529);border-radius:6px;">
                      绑定新车
                  </button>
                 </span>
            </div>


        </div>

    </ion-content>

</ion-modal-view>