<ion-modal-view class="carInfo_modal animated slideInDown ">


  <ion-content
    class="carInfo_content"
    scroll="false"
    style="width: 100%;padding:0px">


    <!-- header bar -->

    <div style="width: 100%;height:55px;background: #00c9ff;position: relative">
      <div style="position: absolute;top:20%;left: 5%;" ng-click="closeCompanyModal()">
          <span style="font-size: 3.4em;color:#fff;"><i class="ion-ios-arrow-back"></i></span>
      </div>
      <div style="position:absolute;top:38%;left:14%;" ng-click="closeCompanyModal()">
        <span style="font-size: 1.6em;color:#fff;">返回</span>
      </div>
    </div>



    <div style="width: 100%;height: 100%;background-image: url(../../img/bkg3@2x.png);
    background-repeat: no-repeat;background-size: 100%;background-position: 0% 73%;">


      <ion-scroll style="height: 60%;">
        <div class="list" style="border:1px solid #eee;border-bottom:0px;width: 90%;margin-left:5%;margin-top:10%;
                                 background:transparent">

          <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;
               padding:14px;padding-top:9px;padding-bottom:9px;background: rgba(255, 255, 255, 0.7)"
               ng-repeat="company in page_companys"
               ng-click="toggle(company,'checked')"
          >
            <div>

            </div>
            <span style="display: inline-block;font-size: 1em;width: 90%;">
              {{company.companyName}}
            </span>
            <span
                    style="font-size: 1.8em;width: 10%;text-align: center;display: inline-block"
            >
             <i ng-if="company.checked!=true" class="ion-ios-checkmark-outline"></i>
             <i ng-if="company.checked==true" class="ion-ios-checkmark"></i>
           </span>
          </div>
        </div>
      </ion-scroll>



      <div
              class="bar bar-footer bar-assertive"
              style="width: 70%;margin-left:15%;margin-right:15%;"
              ng-click="apply()"
      >
        <div class="title">确认公司选择</div>
      </div>


    </div>










  </ion-content>

</ion-modal-view>
