<ion-modal-view  class="detail_modal animated slideInDown>" style="background: transparent">

    <ion-content
            style="padding:14px;margin: 0 auto;top: 0%;background: #fff;border: 1px solid #eee;">


        <div class="scroll" style="overflow: scroll">


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
                <span class="input-label" style="display: inline-block;">
                    姓名:
                </span>
                <input type="text" placeholder="输入收件人的姓名"
                       style="display: inline-block"  ng-value="mail.perName"
                       ng-model="mail.perName"/>
            </div>

            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
                <span class="input-label" style="display: inline-block;">
                    电话:
                </span>
                <input type="text" placeholder="请输入收件人的电话"
                       style="display: inline-block"  ng-value="mail.phone"
                       ng-model="mail.phone"/>
            </div>


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
                <span class="input-label" style="display: inline-block;">
                    地址:
                </span>
                <input type="text" placeholder="输入收件地址"
                       style="display: inline-block"  ng-value="mail.address"
                       ng-model="mail.address"/>
            </div>


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;padding:10px;">
                <span class="input-label" style="display: inline-block;">
                    邮编:
                </span>
                <input type="text" placeholder="请输入邮编"
                       style="display: inline-block"  ng-value="mail.postcode"
                       ng-model="mail.postcode"/>
            </div>

            <div style="width: 45%;display: inline-block;text-align: center">
                <button class="button button-block button-calm"
                        ng-click="createMailAddress()"
                        style="width: 80%;margin-left:10%;">
                    创建
                </button>
            </div>
            <span style="display: inline-block;width: 5%;"></span>
            <div style="width: 45%;display: inline-block;text-align: center">
                <button class="button button-block button-calm"
                        ng-click="closeMailAddressModal()"
                        style="width: 80%;margin-left:10%;">
                    返回
                </button>
            </div>


        </div>

    </ion-content>
</ion-modal-view >
