<ion-modal-view  class=" carInfo_modal animated slideInDown>" style="background: transparent">
    <ion-content
            class="carInfo_content"
            style="margin: 0 auto;top: 0%;background-color: #f8f8f8;;border:0">

        <!-- header bar -->
        <div class="bar bar-header bar-stable" style="position: static;height:8%;width: 100%;padding-left: 10px;padding-right: 10px; background-color: white; border-bottom: 1px solid #f8f8f8;">
            <div class="title" style="display: inline-block;width: 100%;text-align:center;">
                <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.1em; color: #737373;" ng-click="close_licenseInfoModal()">
                    <i class="ion-chevron-left"></i>
                </span>
                <span style="display: inline-block;width:65%;text-align: center; font-size: medium;color: #737373;padding-left: 5%;">
                    填写车辆信息
                </span>
                <span style="display: inline-block;font-size:0.8em;text-align: center;width: 15%;background: #737373;color:#fff;
                                border-bottom-left-radius: 6px;border-bottom-right-radius: 6px;border-top-left-radius: 6px;border-top-right-radius: 6px"
                      ng-click="close_licenseInfoModal()">
                 保存
              </span>
                <span style="display: inline-block;width: 20px;">
              </span>
            </div>
        </div>


            <div class="list padding" style="padding:0;background-color:white">

                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #ddd;
               padding:4px 10px;background-color:transparent;overflow: initial">

                  <span  style="display: inline-block;width: 25%;text-align: left;vertical-align: middle;font-size: 0.9em;">
                      厂牌型号:
                  </span>

                    <span style="width: 60%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="输入厂牌型号"
                             style="display:inline-block;background-color: transparent;" ng-value="carInfo.factoryNum"
                             ng-model="carInfo.factoryNum"
                             ng-focus="focusInFactoryNum()"
                             ng-blur="blurFactoryNum()"
                      />
                  </span>

                </div>

                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #ddd;
               padding:4px 10px;background-color:transparent;overflow: initial">

                  <span class="input-label" style="display: inline-block;width: 25%;text-align: left;vertical-align: middle;font-size: 0.9em;">
                      发动机号:
                  </span>
                    <span style="width: 30%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="输入发动机号"
                             style="display:inline-block;background-color: transparent;"
                             ng-value="carInfo.engineNum"
                             ng-model="carInfo.engineNum"
                             ng-change="validate(carInfo,'engineNum','/[\\w|\\d]{6}/')"
                      />
                  </span>
                    <div style="width: 100%;text-align: center;font-size: 0.7em;color:#ff3b30"
                         ng-if="carInfo['engineNum_error']==true">
                        请至少输入6位的发动机号
                    </div>


                </div>

                <!-- 车架号 -->
                <div class="item"
                     style="border:0;border-bottom:1px solid #ddd;padding:4px 10px;background-color:transparent;overflow: initial;">
                    <span class="input-label" style="display: inline-block;width: 25%;text-align: left;vertical-align: middle;font-size: 0.9em;">
                      车架号:
                    </span>
                    <span style="width: 60%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="设置车架号"
                             style="display:inline-block;background-color: transparent;"
                             ng-value="carInfo.frameNum"
                             ng-model="carInfo.frameNum"
                             ng-change="validate(carInfo,'frameNum','/^\\w{17}$/')"
                      />
                    </span>
                    <div style="width: 100%;text-align: center;font-size: 0.8em;color:#ff3b30"
                         ng-if="carInfo['frameNum_error']==true">
                        <span>请输入17位车架号</span>
                    </div>
                </div>

                <!-- 注册日期 -->
                <div class="item"
                     style="border:0;border-bottom:1px solid #ddd;padding:4px 10px;background-color:transparent;overflow: initial;">
                    <span class="input-label" style="display: inline-block;width: 25%;text-align: left;vertical-align: middle;font-size: 0.9em;">
                      注册日期:
                    </span>
                    <span style="width: 50%;display: inline-block;text-align: left;">
                        <span ng-if="carInfo.firstRegisterDate==undefined||carInfo.firstRegisterDate==null"
                                style="color: #aaa;font-size: 0.85em;vertical-align: middle;">
                            选择您的注册日期
                        </span>
                        <span ng-if="carInfo.firstRegisterDate!==undefined&&carInfo.firstRegisterDate!==null"
                            style="vertical-align: middle;">
                            {{carInfo.firstRegisterDate|date:'yyyy-MM-dd HH:mm'}}
                        </span>
                    </span>
                    <span style="width:25%;display: inline-block;text-align: center;">
                        <button class="button button-small button-balanced" ng-click="datetimepicker(carInfo,'firstRegisterDate')">选择日期</button>
                    </span>
                </div>

                <!-- 发证日期 -->
                <div class="item"
                     style="border:0;border-bottom:1px solid #ddd;padding:4px 10px;background-color:transparent;overflow: initial;">
                    <span class="input-label" style="display: inline-block;width: 25%;text-align: left;vertical-align: middle;font-size: 0.9em;">
                      发证日期:
                    </span>
                    <span style="width: 50%;display: inline-block;text-align: left;">
                        <span ng-if="carInfo.issueDate==undefined||carInfo.issueDate==null"
                              style="color: #aaa;font-size: 0.85em;vertical-align: middle;">
                            选择您的发证日期
                        </span>
                        <span ng-if="carInfo.issueDate!==undefined&&carInfo.issueDate!==null"
                              style="vertical-align: middle;">
                            {{carInfo.issueDate|date:'yyyy-MM-dd HH:mm'}}
                        </span>
                    </span>
                    <span style="width:25%;display: inline-block;text-align: center;">
                        <button class="button button-small button-balanced" ng-click="datetimepicker(carInfo,'issueDate')">选择日期</button>
                    </span>
                </div>

            </div>


    </ion-content>

</ion-modal-view>
