<ion-modal-view class="animated slideInDown" style="background: rgba(20, 20, 20, 0.81);">
  <div style="position:absolute;top:44%;height: 10%;width: 100%;" ng-click="closeDemoModal1()">
    <div style="position: absolute;left:50%;top:20%;">
      <span style="color: #ff0000;z-index:9999;font-size: 3em;"><i class="ion-close-circled"></i></span>
    </div>
  </div>
  <ion-content class="" style="width:100%;padding:10px;height:45%;top:55%;background: #fff;">

    <div style="height:90%;margin-bottom:15%;">
      <img src="img/enginNum.jpg"/>
    </div>


  </ion-content>

</ion-modal-view>
