
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view view-title="{{title}}" hide-nav-bar="true">


  <ion-content class="cart_detail" style="background-image: url('img/flowAndMoutain@2x.png');background-repeat: no-repeat;
    background-size: 100%;background-position: 0% 70%;" >

    <!-- header bar -->
    <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
      <h1 class="title" style="display: inline-block;width:100%;text-align:center;">
        <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;"  ng-click="go_back()">
          <i class="ion-chevron-left"></i>
        </span>
        <span style="display: inline-block;width:90%;text-align: center;padding-right:15%">
         {{title}}
        </span>
      </h1>
    </div>



    <div class="list" style="margin-bottom: 0px;background: transparent;">
      <ul class="ul-tabs">
        <!-- 产品简介 -->
        <li style="width:50%;background: transparent;">
          <div class="cell" style="background: transparent"
               ng-class="{true: 'selected', false: ''}[tab=='产品简介']"
               ng-click="tab_change(0)">
               <span style="position: absolute;left: 30%;top: 30%;font-size: 1.0em;background: transparent;">
                  产品简介
               </span>
          </div>
        </li>

        <!-- 保费测算 -->
        <li style="width:50%;background: transparent;">
          <div class="cell" style="background:transparent"
               ng-class="{true: 'selected', false: ''}[tab=='保费测算']"
               ng-click="tab_change(1)">
               <span style="position: absolute;left: 30%;top:30%;font-size:1.0em;background: transparent;">
                 保费测算
               </span>
          </div>
        </li>
      </ul>
    </div>

    <ion-slide-box does-continue="false" show-pager="true"  active-slide="myActiveSlide" on-slide-changed="slide_cb($index)" style="background: transparent;padding:10px">
      <ion-slide style="background: transparent;">
        <div class="item_desc" style="background: transparent;">
          <div class="prop_over">
            <h4>产品简介</h4>
            <ion-list style="background: transparent;">
              <ion-item style="background: transparent;padding: 16px;">
                <div style="background: transparent;">
                  <div class="col">
                    <p style="display: inline-block;width:10%;"><i class="ion-record"></i></p>
                    <p style="display: inline-block;width:90%;">产品特色：</p>
                  </div>
                </div>
                  <div style="padding: 5px;"><p style="font-size:0.9em">康运升级责任更全</p></div>
                  <div style="padding: 5px;"><p style="font-size:0.9em">轻症责任保障更久</p></div>
                  <div style="padding: 5px;"><p style="font-size:0.9em">轻症赔付保费豁免</p></div>
                  <div style="padding: 5px;"><p style="font-size:0.9em">保费更低保障更多</p></div>
                </div>
              </ion-item>
            </ion-list>
            <h4>保障范围</h4>
            <ion-list style="background: transparent;">
              <ion-item style="background: transparent;border:0px">
                <div>
                  <div class="col"><p><i style="font-size:8px;color: #e99d23;" class="ion-record"></i></p></div>
                  <div class="col"><p>含身故保险金、重大疾病保险金、</p></div>
                  <div class="col"><p>轻症疾病保险金、轻症疾病豁免保险费</p></div>
                </div>
              </ion-item>
            </ion-list>
            <h4>适用人群</h4>
            <ion-list style="background: transparent;">
              <ion-item style="background: transparent;border:0px">
                <div class="row">
                  <div class="col">
                    <p style="display: inline-block;width:10%;">
                      <i style="font-size:8px;color: #e99d23;" class="ion-record"></i>
                    </p>
                    <p style="display: inline-block;width:90%;">
                      为28 天-60 周岁（含）
                    </p>
                  </div>
                </div>
              </ion-item>
            </ion-list>
          </div>
        </div>
      </ion-slide>
      <ion-slide style="background: transparent;">
        <div class="item_desc" style="margin-bottom: 44px;background: transparent;">
          <div class="prop_over">

            <!-- 主险项 -->
            <h4>主险</h4>
            <ion-list style="background: transparent;">

              <ion-item style="background: transparent;">
                <div class="row">
                  <div style="width:30%">
                    <span><i class="ion-record"></i>产品名称:</span>
                  </div>
                  <div style="width:70%"><span>{{item.main.product.productName}}</span></div>
                </div>
              </ion-item>

              <ion-item style="background: transparent;">
                <div class="row" style="background: transparent;">
                  <div style="background: transparent;width:30%">
                    <span><i class="ion-record"></i>每年缴费:</span>
                  </div>
                  <div style="width:70%"><span>{{item.main.insuranceFeeYear}}</span></div>
                </div>
              </ion-item>


              <ion-item style="background: transparent;">
                <div class="row" style="background: transparent;">
                  <label class="item item-input" style="width: 30%;background: transparent;">
                    <i class="ion-record"></i>缴费年限:
                  </label>
                  <div
                    ng-if="item.feeYearType==undefined||item.feeYearType==null"
                    style="display: inline-block;width: 40%;color: rgba(17, 17, 17, 0.42);font-size: 14px;text-align: left;"
                  >
                    <span>请选择缴费年限</span>
                  </div>
                  <div
                    ng-if="item.feeYearTypeName!==undeifned&&item.feeYearTypeName!==null"
                    style="display: inline-block;width: 40%;font-size: 14px;text-align: left;"
                  >
                    {{item.feeYearTypeName}}
                  </div>
                  <div style="display: inline-block;width: 15%;text-align: left;"
                       ng-click="feeYearType_select()">
                    <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
                  </div>


                </div>
              </ion-item>


              <ion-item style="background: transparent;">
                <div class="row" style="background: transparent;">
                  <label class="item item-input" style="width:30%;">
                    <i class="ion-record"></i>保额:
                  </label>
                  <label class="item item-input">
                    <input type="text" value="{{item.insuranceQuota}}"
                           style="font-size: 1em;background: #fafafa;color: #111;"
                           ng-model="item.insuranceQuota"

                          />
                  </label>
                  <button style="background-color: #ccc;" ng-click="changeInsuranceFee()">
                    更改
                  </button>

                </div>
              </ion-item>

              <ion-item style="background: transparent;">
                <div class="row" style="background: transparent;">
                  <div style="background: transparent;width:30%;">
                    <span style="color:#f00;background: transparent;"><i class="ion-record"></i>主险保费:</span>
                  </div>
                  <div><span>{{item.insuranceFee}}</span></div>
                </div>
              </ion-item>



            </ion-list>
          </div>

          <!-- 附加险 -->
          <div ng-if="item.additions!==undefined&&item.additions!==null&&item.additions.length>0">
            <div style="margin-top:50px;background: transparent;">
              <span style="font-size: 1.3em">附加险</span>
            </div>
            <div class="list life_insurance_detail" style="background: transparent;">
              <div class="item addition" ng-repeat="addition in item.additions"
                   style="position: relative;border-left:0px;border-right:0px;padding:0px;background: transparent;">
                <div class="row" style="background: transparent;">

                  <div class="col det_content" style="background: transparent;">
                    <h3 style="background: transparent;">{{addition.product.productName}}</h3>
                    <p class="price" style="background: transparent;">
                      保费&nbsp;&nbsp;: {{addition.insuranceFee}}
                    </p>

                    <div class="row qty_div" style="background: transparent;">
                      <div class="col col-20" style="background: transparent;">
                        <button class="button button-icon" ng-click="increment(addition,'productCount')">
                          <i class="ion-ios-plus-empty"></i>
                        </button>
                      </div>

                      <div class="col col-25" style="background: transparent;">
                        <label class="item item-input">
                          <input type="number" value="{{addition.productCount}}">
                        </label>
                      </div>

                      <div class="col col-20" style="background: transparent;">
                        <button class="button button-icon"  ng-click="decrement(addition,'productCount')">
                          <i class="ion-ios-minus-empty"></i>
                        </button>
                      </div>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>


          <!-- 合计保费 -->
          <div class="row" style="padding:0px 0px;background: transparent;">
            <div class="col det_content" style="background: transparent;">

              <h4 style="color:#f00;background: transparent;">
                主险保费合计&nbsp;&nbsp;:  <span style="background: transparent;">{{item.insuranceFee}}</span>
              </h4>
            </div>
          </div>

          <button class="button button-block button-positive comm_btn" ng-click="sync(item)">
            保存修改
          </button>

        </div>
      </ion-slide>

    </ion-slide-box>


  </ion-content>
</ion-view>
</ion-nav-view>