
<ion-view view-title='填写寿险意向' >

    <ion-nav-bar class="bar-calm" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr" style="font-size: 2.4em;"
                    ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>

    <ion-content scroll="false" >

        <!-- 寿险 -->
        <div scroll="true" style="background-color:rgba(255,255,255,0);margin-top:15%;">

            <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent">

                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 25%;text-align: left">
                       投保人:
                    </span>
                    <span style="width: 55%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;"
                          ng-if='life_insurance.order.insurer.perName==undefined||life_insurance.order.insurer.perName==null'>
                       谁交保费
                    </span>

                    <span style="width: 55%;display: inline-block;text-align: left;"
                          ng-if='life_insurance.order.insurer.perName!=undefined&&life_insurance.order.insurer.perName!=null'>
                       {{life_insurance.order.insurer.perName}}
                    </span>

                    <span style="display:inline-block;width: 20%;text-align: center;vertical-align: middle;" ng-click="goFetchLifeInsurer(life_insurance.order)">
                      <button class="button button-small button-assertive" style="padding:0px 10px;">
                         选择
                      </button>
                    </span>
                </div>

                <!-- 被保险人 -->
                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 25%;text-align: left">
                       被保险人:
                    </span>
                    <span style="width: 55%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;"
                          ng-if='life_insurance.order.insuranceder.perName==undefined||life_insurance.order.insuranceder.perName==null'>
                       谁享受保障
                    </span>

                    <span style="width: 55%;display: inline-block;text-align: left;"
                          ng-if='life_insurance.order.insuranceder.perName!=undefined&&life_insurance.order.insuranceder.perName!=null'>
                        {{life_insurance.order.insuranceder.perName}}
                    </span>

                    <span style="display:inline-block;width: 20%;text-align: center;vertical-align: middle;"
                          ng-click="goFetchLifeInsuranceder(life_insurance.order)">
                       <button class="button button-small button-assertive" style="padding:0px 10px;" >
                            选择
                       </button>
                    </span>
                </div>

                <!-- 受益人 -->
                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial">
                   <span style="display: inline-block;width: 25%;text-align: left">
                      受益人:
                   </span>
                    <span style="width: 55%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;"
                          ng-if='(life_insurance.order.benefiter.perName==undefined||life_insurance.order.benefiter.perName==null)
                                 &&(life_insurance.order.isLegalBenefiter==undefined||life_insurance.order.isLegalBenefiter==null)'>
                      谁领取保险金
                    </span>
                    <span style="width: 55%;display: inline-block;text-align: left;"
                          ng-if='life_insurance.order.benefiter.perName!=undefined&&life_insurance.order.benefiter.perName!=null'>
                       {{life_insurance.order.benefiter.perName}}
                    </span>

                    <span style="width: 55%;display: inline-block;text-align: left;"
                          ng-if='life_insurance.order.benefiter.perName==undefined&&life_insurance.order.benefiter.perName==null
                                &&life_insurance.order.isLegalBenefiter!=undefined&&life_insurance.order.isLegalBenefiter!=null'>
                       法定
                    </span>
                    <span style="display:inline-block;width: 20%;text-align: center;vertical-align: middle;" ng-click="goFetchLifeBenefiter(life_insurance.order)">
                       <button class="button button-small button-assertive" style="padding:0px 10px;">
                           选择
                       </button>
                    </span>
                </div>

                <!-- 需要的保障 -->
                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 35%;text-align: left">
                       需要的保障:
                    </span>
                    <span style="width: 45%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;"
                          ng-if='life_insurance.order.insuranceType==undefined||life_insurance.order.insuranceType==null'>
                       请选择保障
                    </span>
                    <span style="width: 45%;display: inline-block;text-align: left;"
                          ng-if='life_insurance.order.insuranceType!=undefined&&life_insurance.order.insuranceType!=null'>
                       {{life_insurance.order.insuranceType}}
                    </span>
                    <span style="display: inline-block;width: 20%;text-align: center;vertical-align: middle"
                          ng-click="lifeInsuranceder_insuranceType_select()">
                        <span style="font-size: 1.4em;"><i class="ion-chevron-down"></i></span>
                    </span>
                </div>

                <!-- 有无社保 -->
                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial"
                     ng-click="Toggle('boolean',life_insurance.order,'hasSocietyInsurance')">
                    <span style="display: inline-block;width: 35%;text-align: left">
                        有无社保:
                    </span>
                    <span style="width: 45%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;">
                        {{life_insurance.order.hasSocietyInsurance==true?'有':'无'}}
                    </span>
                    <span style="display: inline-block;width: 20%;text-align: center;vertical-align: middle;">
                        <i ng-if="life_insurance.order.hasSocietyInsurance!=true"
                           class="ion-ios-checkmark-outline"
                           style="font-size: 1.6em;"></i>
                         <i ng-if="life_insurance.order.hasSocietyInsurance==true"
                            class="ion-ios-checkmark"
                            style="font-size: 1.6em;"></i>
                     </span>
                </div>

                <!-- 有无商业保险 -->
                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
         padding:10px;background-color:transparent;overflow:initial"
                     ng-click="Toggle('boolean',life_insurance.order,'hasCommerceInsurance')">

                    <span style="display: inline-block;width: 45%;text-align: left">
                        有无商业保险:
                     </span>
                    <span style="width: 35%;display: inline-block;text-align: left;font-size: 0.8em;color:#aaa;">
                        {{life_insurance.order.hasCommerceInsurance==true?'有':'无'}}
                     </span>

                    <span style="display: inline-block;width: 20%;text-align: center;vertical-align: middle;">
                         <i ng-if="life_insurance.order.hasCommerceInsurance!=true"
                            class="ion-ios-checkmark-outline"
                            style="font-size: 1.6em;"></i>
                        <i ng-if="life_insurance.order.hasCommerceInsurance==true"
                           class="ion-ios-checkmark"
                            style="font-size: 1.6em;"></i>
                    </span>
                </div>

                <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent">
                    <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
                         计划保费:
                    </span>

                    <input type="text" placeholder="请输入...."
                           style="display: inline-block;width:65%;background-color:transparent"
                           ng-value="life_insurance.order.planInsuranceFee"
                           ng-model="life_insurance.order.planInsuranceFee"/>
                </div>

                <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="saveLifeInsuranceIntend()">
                    <h1 class="title">提交寿险意向</h1>
                </div>

            </div>
        </div>


    </ion-content>
</ion-view>
