<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view  hide-nav-bar="true">

    <ion-content class="login_background" scroll="false" style="background-color: rgba(171, 199, 179, 0.13);">
      <div style="margin-top:15%;margin-bottom:5%;">
        <img src="img/jiehuibao.png"/>
      </div>


      <div class="list padding">

        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #646464;
             padding:4px;background-color:transparent;overflow:initial;width: 65%;margin-left:16%;">
        <span class="input-label"
              style="display: inline-block;width: 13%;text-align: left;font-size: 1.8em;">
          <i class="ion-person" style="color: #646464;"></i>
        </span>
          <span style="width: 87%;display: inline-block;text-align: left;">
            <input type="text"
                   style="display:inline-block;background-color: transparent;width: 100%;color: #323232;"
                   placeholder="用户名/手机号"
                   ng-value="user.username"
                   ng-model="user.username"/>
          </span>
          <!--<div style="width: 20%;display: inline-block;text-align: center;padding-bottom: 5%;font-size: 1.2em;"-->
               <!--ng-click="historyUserName()">-->
            <!--<i class="ion-chevron-down"></i>-->
          <!--</div>-->
        </div>

        <div class="item"
             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #646464;
             padding:4px;background-color:transparent;overflow:initial;width: 65%;margin-left:16%;">
          <span class="input-label"
                style="display: inline-block;width: 13%;text-align: left;font-size: 1.8em;">
            <i class="ion-ios-locked" style="color: #646464;"></i>
          </span>
          <span style="width: 87%;display: inline-block;text-align: left;">

            <input type="password"
                   style="display:inline-block;background-color: transparent;width: 100%;color: #323232;"
                   placeholder="密码"
                   ng-value="user.password"
                   ng-model="user.password"/>
          </span>
        </div>


        <div class="item"
             style="margin:20px;border:0px;
             padding:4px;background-color:transparent;overflow:initial;width: 65%;margin-left:16%;font-family:monospace;">
          <span class="input-label"
                style="display: inline-block;width: 49%;text-align:left;color:#323232;font-family:monospace;font-size:1em;color:rgba(66, 162, 136, 0.97);"
                ng-click="goRegister()"
          >
            注册
          </span>
          <span class="input-label"
                style="display: inline-block;width:49%;text-align:right;color:#323232;padding-right:0;font-family:monospace;font-size:1em;color:rgba(66, 162, 136, 0.97);"
                ng-click="goFetchPassword()"
          >
            忘记密码
          </span>
        </div>



        <button class="button button-block  button-balanced"
                ng-click="doLogin()"
                style="width: 60%;margin-left:20%;margin-top:10px;border-radius: 24px;background:rgba(66, 162, 136, 0.97);font-size:1.4em;font-family:monospace;">
          登 录
        </button>

      </div>


      <div style="margin-top:15%;position:absolute;bottom:-1%">
        <img src="img/tree.png"/>
      </div>


    </ion-content>
  </ion-view>
</ion-nav-view>
