<ion-view view-title="Search">
    <ion-content>
        <h1>Search</h1>
    </ion-content>
    <ion-tabs class="tabs-icon-top tabs-color-positive tabs-custom" >
        <ion-tab title="产品" icon-off="ion-ios-chatbubble-outline" icon-on="ion-ios-chatbubble" ui-sref="tabs.dashboard">
            <ion-nav-view name="dashboard-tab"></ion-nav-view>
        </ion-tab>

        <ion-tab title="我" icon-off="ion-ios-person-outline" icon-on="ion-ios-person" ui-sref="tabs.my">
            <ion-nav-view name="my-tab"></ion-nav-view>
        </ion-tab>





        <ion-tab title="联系客服" icon-off="ion-social-whatsapp-outline" icon-on="ion-social-whatsapp" ui-sref="tabs.chatter">
            <ion-nav-view name="chatter-tab"></ion-nav-view>
        </ion-tab>
    </ion-tabs>
</ion-view>
