<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view view-title="注册" hide-nav-bar="true">
    <ion-content class="backgroundRes">

      <div style="width: 100%;min-height: 35px;margin-top:-1px;background: #14191f;text-align: left;">
        <div style="height: 15px;">
        </div>
        <span style="font-size: 2.4em;width: 20%;display: inline-block;color:#fff;"
              ng-click="go_back()"
        >
          <i class="ion-chevron-left"></i>
        </span>
        <span style="width: 60%;display: inline-block; color:#fff;text-align: center;font-size: 1.6em;">
          注册
        </span>
        <span style="width: 18%;display: inline-block;">
        </span>
      </div>



      <div class="list list-inset" style="margin-top:40%;background: transparent;">
        <ng-form name="registerForm">

          <label class="item item-input" style="background: transparent;margin-bottom: 20px;">
            <span style="font-size: 1.6em;color:#fff;width: 10%;">
              <i class="icon ion-person  placeholder-icon"></i>
            </span>
            <input type="text"  style="background: transparent;width: 90%;font-size: 1.2em;color:#fff;"
                   name="username" placeholder="Username" ng-model="userInfo.username"/>
          </label>

          <label class="item item-input" style="background: transparent;margin-bottom: 20px;">
            <span style="font-size: 1.6em;color:#fff;width: 10%;">
              <i class="icon ion-locked placeholder-icon"></i>
            </span>

            <div style="width: 50%;">
              <input name="password" type="password" style="background: transparent;font-size: 1.2em;color:#fff;"
                     placeholder="********"
                     ng-model="userInfo.password"
                     ng-change="validate(userInfo,'password','/^\\w{6,8}$/')"
              />
            </div>
            <div class="assertive" style="width: 40%;display: inline-block" ng-if="userInfo.password_error==true">
              必须为6-8个字母
            </div>
          </label>

          <label class="item item-input" style="background: transparent;margin-bottom: 20px;">
            <span style="font-size: 1.6em;color:#fff;width: 10%;">
              <i class="icon ion-at  placeholder-icon"></i>
            </span>

            <input type="email" placeholder="Email" style="background: transparent;color:#fff;width: 90%;font-size: 1.2em;"
                  ng-value="userInfo.email" ng-model="userInfo.email">
          </label>

          <label class="item item-input" style="background: transparent;margin-bottom: 20px;">
            <span style="font-size: 2em;color:#fff;width: 10%;text-align: center">
              <i class="icon ion-iphone placeholder-icon"></i>
            </span>
            <input type="number" placeholder="Mobile" style="background: transparent;color:#fff;width: 50%;font-size: 1.2em;"
                   ng-value="userInfo.mobile"
                   ng-model="userInfo.mobile">
            <div style="width: 35%;text-align: center;display: inline-block;">
              <button class="button button-small button-balanced" style="width: 100%;display: inline-block" ng-click="getCode()">
                点击获取验证码
              </button>
            </div>
            <div style="display: inline-block;width:5%;">
            </div>
          </label>

        </ng-form>

        <div>
          <label class="item item-input" style="background: transparent;margin-bottom: 20px;">
            <span style="font-size: 2em;color:#fff;width: 10%;text-align: center">
              <i class="icon ion-iphone placeholder-icon"></i>
            </span>
            <input type="number" placeholder="验证码" style="background: transparent;color:#fff;width: 90%;font-size: 1.2em;"
                   ng-model="userInfo.code">
          </label>
        </div>
      </div>


      <div class="row">

        <button class="button button-assertive"
                ng-click="register()"
                style="margin-right: 10%;margin-left: 25%;width: 50%;">
          注册
        </button>


      </div>

    </ion-content>
  </ion-view>

</ion-nav-view>
