<ion-view class="passwordForget-view" view-title="找回密码">

    <ion-nav-bar class="bar-stable" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr"
                    ng-click="go_back()"
                    style="font-size: 2em;color:#bf530c"
            >
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>


    <ion-content scroll="true" class="padding" lazy-scroll>

        <div class="list list-inset padding" style="margin-bottom:40px;">

            <div class="item" style="margin:1px;padding:4px;">
                <span class="input-label"
                      style="display: inline-block;font-size: 2em;color:#bf530c;width: 15%;
                      text-align: center;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;"
                >
                  <i class="ion-ios-telephone-outline"></i>
                </span>
                <input type="text" placeholder="请输入手机号"
                       style="display: inline-block;width:45%;vertical-align: super"
                       ng-model="info.phone"
                       ng-value="info.phone"
                />
                <span class="input-label"
                      style="display: inline-block;background:#f79916;color:#fff;width:30%;
                      text-align: center;vertical-align: super;padding-right: 5px;"
                      ng-click="getCode()"
                >
                 发送验证码
                </span>
                <span class="input-label"
                    style="display: inline-block;width:5%;"
                >
                </span>
            </div>

            <div class="item" style="margin:1px;padding:4px;">
                <span class="input-label"
                      style="display: inline-block;font-size: 2em;color:#bf530c;width: 15%;
                      text-align: center;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;"
                >
                  <i class="ion-ios-locked-outline"></i>
                </span>
                <input type="text" placeholder="请输入验证码"
                       style="display: inline-block;width:45%;vertical-align: super"
                       ng-model="info.code"
                       ng-value="info.code"
                />

                <span class="input-label"
                      style="display: inline-block;width:5%;"
                >
                </span>
            </div>


            <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="apply()">
                <h1 class="title">提交信息</h1>
            </div>


        </div>
    </ion-content>




</ion-view>
