<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view class="passwordForget-view" view-title="找回密码" hide-nav-bar="true">

        <ion-content scroll="true" class="padding" lazy-scroll style="padding:0;background-image: url('img/bkg@2x.png');background-repeat: no-repeat;
    background-size: 100%;background-position: 0% 100%;">

            <!-- header bar -->
            <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
                <h1 class="title" style="display: inline-block;width: 100%;text-align:center;">
                <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;"  ng-click="go_back()">
                    <i class="ion-chevron-left"></i>
                </span>
                    <span style="display: inline-block;width:90%;text-align: center;padding-right: 15%;">
                    找回密码
                </span>
                </h1>
            </div>

        <div class="list list-inset padding" style="margin-bottom:40px;background: transparent;">

            <div class="item" style="margin:1px;padding:4px;background: transparent;">
                <span class="input-label"
                      style="display: inline-block;font-size: 2em;color:#bf530c;width: 15%;
                      text-align: center;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;"
                >
                  <i class="ion-ios-telephone-outline"></i>
                </span>
                <input type="text" placeholder="请输入手机号"
                       style="display: inline-block;width:45%;vertical-align: super;background: transparent;"
                       ng-model="info.phone"
                       ng-value="info.phone"
                />
                <span class="input-label"
                      style="display: inline-block;background:#f79916;color:#fff;width:30%;
                      text-align: center;vertical-align: super;padding-right: 5px;"
                      ng-click="getCode()"
                >
                 发送验证码
                </span>
                <span class="input-label"
                    style="display: inline-block;width:5%;"
                >
                </span>
            </div>

            <div class="item" style="margin:1px;padding:4px;background: transparent;">
                <span class="input-label"
                      style="display: inline-block;font-size: 2em;color:#bf530c;width: 15%;
                      text-align: center;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;"
                >
                  <i class="ion-ios-locked-outline"></i>
                </span>
                <input type="text" placeholder="请输入验证码"
                       style="display: inline-block;width:45%;vertical-align: super;background: transparent;"
                       ng-model="info.code"
                       ng-value="info.code"
                />

                <span class="input-label"
                      style="display: inline-block;width:5%;"
                >
                </span>
            </div>


            <div class="bar bar-footer  bar-assertive" style="position: static;margin-top: 10%;" ng-click="apply()">
                <h1 class="title">提交信息</h1>
            </div>


        </div>
    </ion-content>


</ion-view>
</ion-nav-view>