<ion-view view-title="{{title}}">
    <ion-nav-bar class="bar-stable" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr"
                    style="font-size: 2.4em;"
                    ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>


    </ion-nav-bar>
    <ion-content class="padding cart_detail" style="padding: 0px;">
        <div class="list" style="background: #fff;border:0px;padding: 10px;">


            <div class="card " ng-repeat="item in price.items">
                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;
                        padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 10%;">
                        险种
                    </span>
                    <span style="font-size: 1.4em;color:#804400;display: inline-block;width: 90%;">
                        {{item.productName}}
                    </span>
                </div>
                <div class="item"
                     style="margin:1px;border:0px;
                            padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 20%;text-align: left;">
                        缴费
                    </span>
                    <span style="display: inline-block;width: 80%;text-align: center">
                        {{item.insuranceFee}}
                    </span>
                </div>
                <div class="item"
                     style="margin:1px;border:0px;
                            padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 20%;text-align: left;">
                        是否不计免赔
                    </span>
                    <span style="font-size: 2em;color:#ff5b36;text-align: center;display: inline-block;width: 80%;">
                        <i class="ion-checkmark" ng-if="item.irrespective==1"></i>
                        <i class="ion-close" ng-if="item.irrespective!=1"></i>
                    </span>
                </div>
            </div>

            <div class="card">
                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;
                        padding:10px;background-color:transparent;overflow:initial">
                    <span style="display: inline-block;width: 10%;">总计</span>
                    <span style="font-size: 1.4em;color:#804400;display: inline-block;width: 90%;">
                        {{price.insuranceFeeTotal}}
                    </span>
                </div>
            </div>


            <div class="item" style="width: 100%;border:0px;">
                <button class="button button-calm" style="width:60%;margin-left:20%;"
                        ng-click="applyCarPrice()">
                    提交已选方案
                </button>
            </div>



        </div>
    </ion-content>
</ion-view>
