<ion-nav-view   class="slide-left-right" hide-nav-bar="true">
  <ion-view hide-nav-bar="true">

    <ion-side-menus>
      <ion-side-menu-content>

        <ion-content scroll="true" class="padding" lazy-scroll>

          <div class="list padding">
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;background-color:transparent;overflow:initial">
              <span ng-click="toggleLeft()" style="font-size: 1.8em;">
                <i class="ion-navicon-round"></i>
              </span>
            </div>
          </div>

          <ul class="list">
            <li class="item item-icon-right" ng-click="go_to('myInfo')">
            <span>
                <i class="ion-person"  style="font-size: 3.2em;"></i>
                {{user.phone}}
            </span>
              <i class="icon ion-chevron-right" style="font-size: 1.2em;"></i>
            </li>
          </ul>


          <ion-list>
            <ion-item ng-repeat="item in infos" class="item item-icon-right" ng-click="go_to(item.href)">
              <span>
                <i class="ion-clipboard"  ng-style="item.style" ng-if="$index%2==0"></i>
                <i class="ion-levels" ng-style="item.style" ng-if="$index%2!=0"></i>
                {{item.title}}
              </span>
              <i class="icon ion-chevron-right" style="font-size: 1.2em;"></i>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-side-menu-content>

      <ion-side-menu side="left">
        <div style="width: 100%;height: 100%;position: relative">

          <div class="list padding-left" style="position: absolute;bottom:10%;width: 100%; ">

            <div class="item"
                 style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;"
                 ng-click="go_to('my_menus.browse')"
            >
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-android-person"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  联系方式
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-cash"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  我的红包
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-ribbon-b"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  我的积分
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-document"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  车险订单
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-clipboard"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  寿险订单
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-document-text"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  服务订单
               </span>
            </div>

            <div class="item" style="border-left:0px;border-bottom:0px;padding-top:6px;padding-bottom:10px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-briefcase"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  推荐有礼
               </span>
            </div>

            <div class="item" style="border-left:0px;padding-top:6px;padding-bottom:6px;">
               <span style="display: inline-block;width: 25%;text-align: center;font-size: 2em;">
                  <i class="ion-person-stalker"></i>
               </span>
              <span style="display: inline-block;width: 75%;">
                  关于我们
               </span>
            </div>


          </div>
        </div>

      <ion-side-menu>
    </ion-side-menus>

  </ion-view>

</ion-nav-view>