<ion-nav-view   class="slide-left-right" hide-nav-bar="true">
  <ion-view hide-nav-bar="true">
      <ion-content   lazy-scroll style="position: relative">

          <div style="width: 100%;height: 100%;">

              <div class="my-info-bk" style="width: 100%;height:40%;position: relative;">

                  <div style="position: absolute;top:38%;left:38%;">
                      <div style="width: 95px;text-align: center;">
                          <span style="max-height: 90px;max-width: 90px;font-size: 6em;color:#fff;">
                              <img src="img/my_face@2x.png" style="width:100px;height:100px"/>
                          </span>
                          <h5 style="width:100%;text-align: center;margin-top:10px;margin-bottom:0px;color:#fff;">
                              {{userInfo.perName}}
                          </h5>
                      </div>
                  </div>


                <div style="height: 10%;width: 100%;background-color:transparent">
                    <div class="item" style="padding:4px;border-bottom:1px solid white;background-color: transparent;">
                        <ul style="height: 40px;margin-top:10px;">
                            <li style="width:15%;float: right;text-align: center;"
                                ng-click="go_to('passwordModify')">
                                <div style="font-size: 1.2em;color:#fff;">
                                    <span><i class="fa fa-unlock-alt"></i></span>
                                </div>
                                <div style="font-size: 0.8em;color: #fff;">
                                    <span style="font-weight: bolder;">密码修改</span>
                                </div>
                            </li>

                            <li style="width:15%;float:right;text-align:center;" ng-click="quit()">
                                <div style="font-size: 1.2em;color:#fff;">
                                    <span><i class="fa fa-power-off"></i></span>
                                </div>
                                <div style="font-size: 0.8em;color: #fff;">
                                    <span style="font-weight: bolder;">
                                        退出
                                    </span>
                                </div>
                            </li>

                            <li style="width:60%;float:right;text-align:center;padding-left:15%;height: 100%;">
                                <div style="width: 100%;height: 100%;display: table;text-align: center;">
                                    <span   style="color: #fff;font-size: 1.4em;display: table-cell;vertical-align: middle;font-weight: bolder;">
                                        个人中心
                                    </span>
                                </div>
                            </li>

                            <li style="width:10%;float:right;text-align:left;padding-left:3%"
                                >
                            </li>

                        </ul>
                    </div>
                </div>

                <div style="position: absolute;right:5%;bottom:5%;" ng-click="gotoNotificationPanel()">

                        <div ng-if="$rootScope.notifications!==undefined&&$rootScope.notifications!==null&&$rootScope.notifications.length>0">
                            <div style="width: 100%;height: 100%;position: relative;">
                                    <span style="font-size: 2em;color:rgb(21, 232, 228);">
                                        <i class=" ion-chatbox-working"></i>
                                    </span>
                                    <span style="position: absolute;right: 20%;top:-12%;
                                        color:#fff;width: 20px;height: 17px;background:#ff3b30;border-radius: 10px;">
                                        {{notification_count}}
                                    </span>
                            </div>
                        </div>

                        <div ng-if="$rootScope.notifications==undefined||$rootScope.notifications==null||$rootScope.notifications.length==0"
                             style="display:inline-block;">
                            <div style="width: 100%;height: 100%;position: relative;">
                                    <span style="font-size: 2em;color: white;">
                                        <i class=" ion-chatbox-working"></i>
                                    </span>
                            </div>
                        </div>

                        <div style="color:white;display:inline-block;">
                            通知
                        </div>


                </div>



                  <div style="position: absolute;left:5%;bottom:5%;">
                      <span style="color:#fff;font-size:1.2em">积分:</span>
                      <span style="color:#fff;font-size:1.2em;">${{score}}</span>
                  </div>
              </div>



              <div style="height: 60%;width: 100%;background-image: url(../../img/bkg2@2x.png);
              background-repeat: no-repeat;background-size:100%;background-position:0">

                  <div class="item" style="padding: 9px;padding-left:4px;padding-right:11px;margin-top:2px;background: transparent;
                    width: 100%;border:0px;">
                      <ul style="margin-bottom:6px;">
                        <li style="width: 33.333%;min-height:85px;display: inline-block;text-align: center;background:transparent;"
                            ng-click="go_to('contact_information')">
                            <div style="font-size: 2em;margin-top:14%;color:rgba(255, 0, 0, 0.52);">
                                <img src="img/my_info.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                  个人资料
                                </span>
                            </div>
                        </li>

                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('myWallet')">
                            <div style="font-size: 2em;margin-top:14%;color:#f1c300">
                                <img src="img/my_redBag.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                  我的红包
                                </span>
                            </div>
                        </li>

                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('integration')">
                            <div style="font-size: 2em;margin-top:14%;color:rgba(187, 110, 50, 0.94);">
                                <img src="img/my_credit.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                   我的积分
                                </span>
                            </div>
                        </li>
                    </ul>

                    <ul style="margin-bottom:6px;">
                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('car_orders')">
                            <div style="font-size: 2em;margin-top:14%;color:#6f357b">
                                <img src="img/my_carInsurance.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                    车险订单
                                </span>
                            </div>
                        </li>
                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('life_insurance_orders')">
                            <div style="font-size: 2em;margin-top:14%;color:rgba(255, 116, 116, 0.81);">
                                <img src="img/my_life.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                   寿险订单
                                </span>
                            </div>
                        </li>

                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('service_orders')">
                            <div style="font-size: 2em;margin-top:14%;color:#0023f1">
                                <img src="img/my_serviceOrder.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                   服务订单
                                </span>
                            </div>
                        </li>
                    </ul>

                    <ul>
                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="toggleWxDialog()">
                            <div style="font-size: 2em;margin-top:14%;color:#85bb32">
                                <img src="img/my_gift.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                  推荐有礼
                                </span>
                            </div>
                        </li>
                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('about_us')">
                            <div style="font-size: 2em;margin-top:14%;color:#111">
                                <img src="img/my_aboutUs.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                    关于我们
                                </span>
                            </div>
                        </li>
                        <li style="width: 33.3333%;min-height:85px;display: inline-block;
                        text-align: center;background:transparent;"
                            ng-click="go_to('car_manage')">
                            <div style="font-size: 2em;margin-top:14%;color:#ef70ff">
                                <img src="img/my_carManage.png"/>
                            </div>
                            <div style="margin-top:8%">
                                <span style="font-size: 0.9em;color: #7B7575;">
                                    车辆管理
                                </span>
                            </div>
                        </li>
                    </ul>

                    <div style="min-height: 80px;">
                    </div>

                  </div>

              </div>

          </div>


      </ion-content>

  </ion-view>

</ion-nav-view>
