<ion-view>
    <ion-nav-bar class="bar-calm" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr"
                    style="font-size: 2em;"
                    ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>

    <ion-content style="width: 100%;padding: 0px;position: relative;height: 100%;" scroll="true">
        <div class="list list-inset " style="margin-bottom: 0px;height: 100%;margin:0;position: relative;">

            <!--<div class="item"-->
            <!--style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;-->
            <!--padding:10px;background-color:transparent;position: relative">-->
            <!--<span class="input-label" style="display: inline-block;width: 35%;">-->
            <!--选择维修厂:-->
            <!--</span>-->
            <!--<span style="width:65%;display: inline-block;" ng-click="selectPTC()">-->
            <!--{{area.province+area.city+area.town}}-->
            <!--<span style="width: 30%;display: inline-block;text-align: center;font-size: 1.4em;padding-top:10px;">-->
            <!--<i class="ion-ios-arrow-down" ></i>-->
            <!--</span>-->
            <!--</span>-->
            <!--</div>-->

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;
                 padding:0px;background-color:transparent;position: relative">
                <div id="gaoDeHome" style="width:100%;height:520px;"></div>

            </div>


            <!-- 搜索框 -->
            <div class="item" style="position: absolute;top:2%;width: 90%;margin-left: 5%;
                height: 50px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;"
                    ng-click="serviceSelect()">
                <div style="width:100%;height: 100%;position: relative;">
                    <span style="width: 18%;height: 100%;display: inline-block;
                        position: absolute;left:0%;top:0px;">
                        <div style="width: 100%;height: 100%;display: table;text-align: center;background: #00c9ff"
                             ng-click="search()">
                            <span style="display: table-cell;vertical-align: middle;font-size: 1.8em;color:#fff;">
                                <i class="ion-search"></i>
                            </span>
                        </div>
                    </span>
                    <span style="width: 67%;display: inline-block;position: absolute;left:18%;top:0px;
                      height: 100%; padding-top: 10px;padding-left:20px;padding-bottom: 10px;">
                        <div style="width: 100%;height: 100%;display: table;">
                            <span style="font-size: 0.9em;color:#aaa;display: table-cell;vertical-align: middle;">选择审车、审证、接送机、接送站等服务</span>
                        </div>
                    </span>
                </div>
            </div>
        </div>

        <!-- 取车、送车 -->
        <div style="position: absolute;right: 10px;top:20%;height:45px;z-index: 1000;">
            <div class="card" style="display: table;width: 45px;height: 100%;margin:0px;text-align: center;">
                <div ng-style="mode=='servicePlace'?blockInStyle:blockOffStyle" ng-click="modeSwitch('servicePlace')">
                    <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-up-right"></i>
                        </span>
                    </div>
                    <div>
                        <span style="font-weight: bolder;">检测点</span>
                    </div>
                </div>
            </div>
        </div>



        <!-- 内容panel -->
        <div class="item" style="position: absolute;bottom:46px;width: 70%;margin-left: 15%;background: #fffae1;
             height: 50px;padding-bottom: 0px;padding-top: 0px;padding-left: 10px;padding-right: 0px;"
             ng-click="openContentInfoPanel()" ng-if="contentInfo!==undefined&&contentInfo!==null"
        >
            <div style="width: 100%;height: 100%;position: relative">
                <span style="width: 15%;height: 100%;display: inline-block;position: absolute;left:0%;top:0%;">
                    <div style="width: 100%;height: 100%;display: table;text-align: center;">
                        <span style="display: table-cell;vertical-align: middle;color:#ff3b30">
                            <i class="ion-android-pin"></i>
                        </span>
                    </div>
                </span>
                <span style="width: 25%;height: 100%;display: inline-block;position: absolute;left:15%;top:0%;">
                    <div style="width: 100%;height: 100%;display: table;text-align: center;">
                        <span style="display: table-cell;vertical-align: middle;font-weight: bolder;">
                            已搜索出{{contentInfo.length}}条结果
                        </span>
                    </div>
                </span>
                <span style="width: 20%;height: 100%;display: inline-block;position: absolute;left:40%;top:0%;">
                    <div style="width: 100%;height: 100%;display: table;text-align: center;">
                    </div>
                </span>
                <span style="width: 20%;height: 100%;display: inline-block;position: absolute;left:60%;top:0%;">
                </span>
                <span style="width: 20%;height: 100%;display: inline-block;position: absolute;left:80%;top:0%;">
                    <div style="width: 100%;height: 100%;display: table;text-align: center">
                        <span style="display: table-cell;vertical-align: middle;font-size: 2em;color:#00c9ff">
                            <i class="ion-chevron-up"></i>
                        </span>
                    </div>
                </span>
            </div>
        </div>
    </ion-content>

</ion-view>
