<ion-view view-title="选择接送机">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr"
              style="font-size: 2em;"
              ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>


  </ion-nav-bar>

  <ion-content>
    <div class="list list-inset padding" style="margin-bottom: 0px;">
      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;padding:10px;background-color:transparent;">
        <div id="locate_airport_nearby" style="width:100%;height:300px;"></div>
      </div>


      <div class="item item-toggle"
              style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
        padding: 10px;background-color: transparent;position: relative;">
         <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
           接机服务:
         </span>

        <label class="toggle toggle-assertive" ng-click="Mutex('pickUp',filterType)">
          <input type="checkbox" ng-checked="filterType.pickUp">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item item-toggle"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
        padding: 10px;background-color: transparent;position: relative;"
      >
        <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
           送机服务:
         </span>
        <label class="toggle toggle-assertive" ng-click="Mutex('seeOff',filterType)">
          <input type="checkbox" ng-checked="filterType.seeOff">
          <div class="track">
            <div class="handle"></div>
          </div>
        </label>
      </div>

      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
           ng-if="filterType.seeOff==true">
        <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
          出发地:
        </span>
        <span style="width: 55%;display: inline-block;text-align: center;">
          {{carManage.destination.address!==undefined&&carManage.destination.address!==null?carManage.destination.address:'点击右边按钮选择出发地'}}
        </span>
        <span style="display: inline-block;width: 20%;text-align: center;font-size: 1.4em;"
              ng-click='selectDestination()'>
          <i class="ion-chevron-down"></i>
        </span>
      </div>



      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
           ng-if="filterType.pickUp==true">
        <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
          目的地:
        </span>
        <span style="width: 55%;display: inline-block;text-align: center;">
          {{carManage.destination.address!==undefined&&carManage.destination.address!==null?carManage.destination.address:'点击右边按钮选择目的地'}}
        </span>
        <span style="display: inline-block;width: 20%;text-align: center;font-size: 1.4em;"
              ng-click='selectDestination()'>
          <i class="ion-chevron-down"></i>
        </span>
      </div>




      <div class="item"
           style="margin:1px;border-top:0px;border-bottom:1px solid #222;border-left:0px;border-right:0px;
           padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;width: 35%;">
            维修厂:
          </span>
        <span class="input-label"
              style="display: inline-block;width: 45%;"
              ng-if="unit!==undefined&&unit!==null"
        >
          {{unit.unitName}}
          </span>
      </div>


      <div class="item"
           style="margin:1px;
           border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;"
           ng-click="datepick(carManage,'estimateTime')">
        <span class="input-label" style="display: inline-block;width: 35%;">
          服务时间:
        </span>

        <span style="display: inline-block;width: 49%;color:#aaa;font-size: 0.85em;"
              ng-if="carManage.estimateTime==undefined||carManage.estimateTime===null">
          请选择服务时间
        </span>


        <span style="display: inline-block;width: 49%;font-size: 0.85em;"
              ng-if="carManage.estimateTime!=undefined&&carManage.estimateTime!==null">
           {{carManage.estimateTime|date:'yyyy-MM-dd HH:mm'}}
        </span>

        <span style="display: inline-block;width: 16%;">
          <i class="ion-calendar" style="font-size: 1.5em;"></i>
        </span>
      </div>

      <div class="item" style="margin:1px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background: transparent">
          <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
            服务费:
          </span>
        <span style="display: inline-block;width: 45%;">
            $40000
          </span>
      </div>


      <div class="item"
           style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;
           padding:10px;background-color:transparent;position: relative"
           ng-click="generateServiceOrder()"
      >
        <button class="button button-positive" style="width: 80%;margin-left:10%;margin-right:10%;">
          确认
        </button>
      </div>


    </div>
  </ion-content>

</ion-view>
