
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view view-title="客服咨询" hide-nav-bar="true">

    <ion-content scroll="false" style="padding:0;margin:0;">

      <!-- header bar -->
      <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
          <h1 class="title" style="display: inline-block;width:100%;text-align:center;">
                <span style="display: inline-block;width:100%;text-align: center;">
                    客服咨询
                </span>
          </h1>
      </div>

      <div style="width: 100%;height: 100%;">
          <div class="list padding" style="height: 90%;width: 100%;">

              <ion-scroll style="height: 97%;">

                  <div ng-repeat="msg in messages">

                      <!-- 客服 -->
                      <div class="item" style="border:0px;padding:10px;" ng-if="msg.type=='fromThem'">
                         <span style="width: 100%;">
                           <span style="display: inline-block;width: 15%;padding:4px;text-align:left;">
                              <span class="username" style="width: 100%;font-weight: bolder;">客服</span>
                           </span>
                           <span style="display: inline-block;width: 85%;">
                             <div class="from-them">
                               <span  style="color:#fff;white-space: normal;">
                                   {{msg.msg}}
                               </span>
                             </div>
                             <div class="clear"></div>
                           </span>
                        </span>
                      </div>

                      <!-- 客户 -->
                      <div class="item" style="border:0px;padding:10px;" ng-if="msg.type=='fromMe'">
                         <span style="width: 100%;">
                            <span style="display: inline-block;width: 77%;">
                             <div class="from-me">
                                 <span style="color:#fff;white-space: normal" ng-if="msg.msg.type=='plain'">
                                     {{msg.msg.content}}
                                 </span>

                                 <span style="color:#fff;" ng-if="msg.msg.type=='audio'" ng-click="playWav(msg.msg.path)">
                                     {{msg.msg.audioLength}}s&nbsp;&nbsp;&nbsp;<span><i class="ion-volume-high"></i></span>
                                 </span>

                                 <span style="color:#fff;" ng-if="msg.msg.type=='video'" ng-click="moviePlay(msg.msg.path)">
                                     <img ng-src="{{msg.msg.thumb}}" alt="" style="max-width: 100%;">
                                 </span>


                                 <!-- 视频播放按钮 -->
                                 <span style="position: absolute;top:40%;left:30%;width: 35px;height: 35px;border-radius: 35px;border:1px solid #ddd;"
                                       ng-click="moviePlay(msg.msg.path)" ng-if="msg.msg.type=='video'">
                                     <span style="width: 100%;height: 100%;display: table;text-align: center;">
                                         <span style="font-size: 1.8em;display: table-cell;vertical-align: middle;">
                                              <i class="fa fa-play"></i>
                                         </span>
                                     </span>
                                 </span>

                             </div>
                             <div class="clear"></div>
                           </span>
                           <span style="display: inline-block;width: 23%;padding:4px;text-align: right;">
                              <span class="username" style="width: 100%;font-weight: bolder;">
                                  {{user.perName}}
                              </span>
                           </span>
                        </span>
                      </div>
                  </div>

                  <div style="width:100%;height:60px;"></div>
              </ion-scroll>
          </div>
      </div>

      <!-- 操作栏 -->
      <div class="item" style="position: absolute;bottom: 2px;padding:4px 10px;width: 100%;background: #eee;" keyboard-attach>

          <span style="display: inline-block;width: 10%;vertical-align: middle;text-align:center;font-size: 2em;">

              <span ng-if="mode=='plain'" style="color:#555;" ng-click='speechSwitch()'>
                  <i class="ion-volume-high"></i>
              </span>

              <span ng-if="mode=='audio'" ng-click="speechSwitch()">
                  <i class="fa fa-keyboard-o"></i>
              </span>

          </span>

          <span style="display: inline-block;width: 80%;vertical-align: middle;">

              <div ng-if="mode=='audio'" style="width: 100%;border:1px solid #888;background:#fff;border-radius: 18px;
                  padding:6px 20px;box-shadow: 0 1px 3px rgba(0, 0, 0, 0.3);text-align: center;font-weight: bolder;"
                   ng-click="mutexRecord()"
              >
                  <span ng-if="audio.mode=='stoped'">按住我说话</span>
                  <span ng-if="audio.mode=='recording'">正在录音.......</span>
              </div>


              <div contenteditable="true" style="width: 100%;overflow-x:hidden; overflow-y:scroll;white-space: normal;
                padding: 4px 10px;border: 1px solid #aaa;border-radius: 10px;background:#fff;" ng-if="mode=='plain'"
                   ng-model="ws.text" ng-value="ws.text" ng-change="textChange()">
              </div>
              <!--<textarea class="msd-elastic" style="min-height: 36px;" data-ng-model="input.message" id="message"></textarea>-->
          </span>

          <span style="display: inline-block;width: 10%;vertical-align: middle;text-align:center;font-size: 2em;">
              <span ng-if="ws.text!==undefined&&ws.text!==null&&ws.text!=''"
                    ng-style="ws.text!==undefined&&ws.text!==null&&ws.text!=''?sendStyle:unSendStyle" ng-click="doSend()">
                  <i class="ion-android-send"></i>
              </span>
              <span ng-if="ws.text==null||ws.text==undefined||ws.text==''" ng-click="showTools()">
                  <i class="ion-ios-plus-outline"></i>
              </span>
          </span>

          <!-- tools -->
          <div style="width: 100%;margin-top:15px;margin-bottom:5px;background: #f8f8f8;padding: 10px;border-radius: 4px;"
               ng-if="toolsShowFlag">

              <!-- 小视频 -->
              <div style="width: 60px;text-align: center;border-radius: 8px;padding: 5px 6px" class="chat-tool" ng-click="captureVideo()">
                  <div  style=";width: 35px;height: 35px;margin-left:8px;border:1px solid #888;border-radius: 8px;">
                      <div style="width: 100%;height: 100%;display: table;text-align: center;">
                            <span style="font-size: 1.8em;vertical-align: middle;display: table-cell;">
                                <i class="fa fa-eye"></i>
                            </span>
                      </div>
                  </div>
                  <span style="font-size: 1em;">小视频</span>
              </div>

           </div>

        </div>

     </ion-content>

  </ion-view>
</ion-nav-view>