<ion-view view-title="维修服务" >
    <ion-nav-bar class="bar-calm" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr" style="font-size: 2.4em;"
                    ng-click="goBack()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content delegate-handle="maintain" >

        <div class="list" style="margin-bottom: 0px;margin-top:10px;">
            <ul class="ul-tabs transparent"
                style="background: rgb(203,203,203);background-color: transparent;border-bottom: 0px;">
                <li style="width:33.3%;">
                    <div class="cell"
                         ng-class="{true: 'selected', false: ''}[tabIndex==0]"
                         ng-click="tabChange(0)"
                         style="background-color: transparent;"
                    >
                        <span style="position:absolute;left: 20%;top:40%;color: black;">
                            日常保养
                        </span>
                    </div>
                </li>

                <li style="width:33.3%;overflow:initial;">
                    <div class="cell"
                         ng-class="{true: 'selected', false: ''}[tabIndex==1]"
                         ng-click="tabChange(1)"
                         style="background-color: transparent;position: relative"
                    >
                        <span style="position:absolute;left: 20%;top:40%;color: black;">
                            故障维修
                        </span>

                    </div>

                </li>

                <li style="width:33.3%">
                    <div class="cell"
                         ng-class="{true: 'selected', false: ''}[tabIndex==2]"
                         ng-click="tabChange(2)"
                         style="background-color: transparent;"
                    >
                        <span style="position:absolute;left: 25%;top:40%;color: black;">
                            事故维修
                        </span>

                    </div>
                </li>

            </ul>
        </div>

        <div style="margin-top:2px;">
            <!-- 日常保养 -->
            <div ng-if="tabIndex==0" style="height: 100%;width: 100%;">
                <div class="item item-divider"
                     style="background-color: transparent;border-top:0px;border-bottom:0px;text-align: center;">
                    服务项目列表
                </div>

                <div class="list padding" style="margin-bottom:0px;height: 70%;position: relative">
                    <div class="row" style='border-bottom:0px;'>

                        <div class="col"
                             style="padding:16px;border:1px solid;border-right:0px;border-bottom:0px;"
                             ng-click="grid_check(0)">
                            <div>
                                <i class="ion-paintbucket"></i>
                            </div>
                            <span>机油、机滤</span>
                            <div ng-if="dailys[0].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>

                        <div class="col"
                             style="padding: 16px;border:1px solid;border-right: 0px;border-bottom:0px;"
                             ng-click="grid_check(1)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>检查制动系统</span>
                            <span>更换刹车片</span>
                            <div ng-if="dailys[1].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>

                        <div class="col"
                             style="padding: 16px;border:1px solid;border-bottom:0px;"
                             ng-click="grid_check(2)">
                            <div>
                                <i class="ion-ios-cloud"></i>
                            </div>
                            <span>雨刷片更换</span>
                            <div ng-if="dailys[2].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col"
                             style="padding: 16px;border:1px solid;border-bottom: 0px;border-right: 0px;"
                             ng-click="grid_check(3)"
                        >
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>轮胎更换</span>
                            <div ng-if="dailys[3].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                        <div class="col"
                             style="padding: 16px;border:1px solid;border-bottom: 0px;border-right:0px;"
                             ng-click="grid_check(4)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>燃油添加剂</span>
                            <div ng-if="dailys[4].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                        <div class="col"
                             style="padding: 16px;border:1px solid;border-bottom:0px;"
                             ng-click="grid_check(5)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>空气滤清器</span>
                            <div ng-if="dailys[5].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col"
                             style="padding: 16px;border:1px solid;"
                             ng-click="grid_check(6)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>检查火花塞</span>
                            <div ng-if="dailys[6].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                        <div class="col"
                             style="padding: 16px;border:1px solid;border-right:0px;border-left:0px;"
                             ng-click="grid_check(7)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>检查驱动皮带</span>
                            <div ng-if="dailys[7].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                        <div class="col"
                             style="padding: 16px;border:1px solid"
                             ng-click="grid_check(8)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <span>更换空调滤芯</span>
                            <div ng-if="dailys[8].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div style="padding: 16px;border:1px solid;width: 33.33%;border-top:0px;"
                             ng-click="grid_check(9)">
                            <div>
                                <i class="ion-wrench"></i>
                            </div>
                            <div>更换蓄电池</div>
                            <div>防冻液</div>
                            <div ng-if="dailys[9].checked==true" style="color: #ff0000;font-size: 1.8em;">
                                <i class="ion-checkmark"></i>
                            </div>
                        </div>
                    </div>


                    <!-- scroll down tip -->
                    <div style="position: absolute;bottom: 5%;right: 10%;">
                        <div style="width:30px;height: 30px;border-radius: 50px;position: relative;text-align: center"
                            ng-click="scrolldown()">
                            <span class="animate-tip" style="font-size: 2.6em;color:#00c9ff;left:25%;
                                    vertical-align: middle;">
                                <i class="fa fa-angle-double-down"></i>
                            </span>
                        </div>
                    </div>

                </div>

                <div class="list" style="padding:10px;padding-top: 0px;height: 30%;">
                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                                    padding:4px;background-color: transparent;">
                        <span class="input-label" style="display: inline-block;width:20%;padding-left: 3%;max-width: 150px;margin-top:8px;">
                          里程:
                        </span>
                        <input type="text" placeholder="请输入您的里程"
                               style="display: inline-block;background-color: transparent;width:35%"
                               ng-model="miles"
                        />
                        <button class="button button-stable" style="display: inline-block;" ng-click="getMaintainPlan(miles)">
                            查看保养计划
                        </button>
                    </div>


                    <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;"
                            ng-click="pickMaintainDaily('maintain',0)">
                        选择附近的维修厂
                    </button>
                    <a id="maintenance_anchor"></a>
                    <!--<button class="button button-block button-assertive" style="width: 70%;margin-left:15%;"-->
                    <!--ng-click="open_maintenanceTAModal()">-->
                    <!--提交服务项目-->
                    <!--</button>-->
                </div>

            </div>

            <!-- 故障维修 -->
            <div ng-if='tabIndex==1' style="width: 100%;height: 350px">
                <div  class="card" style="width: 85%;display: inline-block;float: left;margin-top: 20px;margin-right: 0px;height:100%">

                    <!-- 文本描述 -->
                    <div class="list list-inset padding"
                         style="margin-bottom:0px;padding:0px;margin-right: 0px;margin-left:0px;background-color: transparent;overflow: initial;margin-top:0px;border: 0px"
                         ng-if="module=='text'">

                        <div class="item"
                             style="margin:1px;border:0px;padding:10px;position: relative;background-color:transparent;">
                            <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
                                   故障文字描述:
                            </span>

                            <div style=";border:1px solid #aaa;margin-top: 20px;">

                              <textarea
                                      style="width:100%;height:230px;background-color: transparent;"
                                      placeholder="请描述故障..."
                                      ng-model=" maintain.description.text"
                                      ng-value="maintain.description.text"
                              ></textarea>
                            </div>
                        </div>
                    </div>

                    <!-- 音频描述 -->
                    <div class="list list-inset padding"
                         style="margin-bottom:0px;padding:0px;margin-right: 0px;margin-left:0px;background-color: transparent;overflow: initial;margin-top:0px;border: 0px"
                         ng-if="module=='audio'">

                        <div class="item"
                             style="margin:1px;border:0px;padding:10px;position: relative;
                             background-color:transparent;width: 100%;height: 340px;">

                            <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
                                   故障音频描述:
                            </span>

                            <div style="height: 150px;width: 150px;text-align: center;padding: 15px;margin-left: 25%;margin-right: 17%;
                            border-radius: 100%;border: 1px solid transparent;background-color:rgba(255, 116, 116, 0.41);position:absolute;bottom:35%;">
                                <div style="height: 100%;width: 100%;margin-left: 0;margin-right: 0;padding:8px;border: 1px solid transparent;border-radius: 100%;background-color:rgba(255, 116, 116, 0.64);">
                                    <div style="height: 100%;width: 100%;margin-left: 0;margin-right: 0;border: 1px solid white;border-radius: 100%;background-color:white"
                                         ng-click="startRecord()">
                                        <div style="margin-top: 15%;font-size: 4em;">
                                            <i style="color: #a2a2a2;" class="ion-mic-a"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div style="margin-top: 2px;background-color:rgba(255, 116, 116, 0.41);
                                        position:absolute;bottom:12%;width:93%;height:15%;padding: 4%;padding-top:5px;">

                                <div style="display:inline-block;width:33%;text-align: center;"
                                     ng-click="startRecord()">
                                    <div style="height: 40px;width: 40px;border-radius: 30px;border: 1px solid white;
                                            margin-left:30%;padding-top: 5%;padding-left: 1%;">
                                        <span style="font-size: 2em;">
                                            <i class="ion-mic-a" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>

                                <div style="display:inline-block;width:32%;text-align: center;"
                                     ng-click="stopRecord()">
                                    <div style="height: 40px;width: 40px;border-radius: 30px;border: 1px solid white;
                                            margin-left: 30%;padding-top: 5%;padding-left:1%;">
                                        <span style="font-size: 2em;">
                                            <i class="ion-pause" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>

                                <div style="display:inline-block;width:32%;text-align: center;"
                                     ng-click="play()">
                                    <div style="width: 40px;height: 40px;border-radius: 30px;border: 1px solid #fff;
                                            margin-left:30%;padding-top: 5%;padding-left:3%;">
                                        <span style="font-size: 2em">
                                            <i class="ion-play" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 视频描述 -->
                    <div class="list list-inset padding"
                         style="margin-bottom:0px;padding:0px;margin-right: 0px;margin-left:0px;background-color: transparent;overflow: initial;margin-top:0px;border: 0px"
                         ng-if="module=='video'">

                        <div class="item"
                             style="margin-top:6px;margin-bottom: 2px;border:0px;padding:10px;padding-left: 11px;padding-top:12px;position: relative;
                             background-color:transparent;width: 100%;">
                            <span>故障视频描述:</span>
                        </div>

                        <!-- 视频预览 -->
                        <div class="item"
                             style="margin-bottom: 1px;border:0px;padding: 0;position: relative;
                             background-color:#aaaaaa;width: 100%;height: 240px;">

                            <img ng-if="videoThumbnail!==undefined&&videoThumbnail!==null"
                                 ng-src="{{videoThumbnail}}" style="width: 100%;max-height: 240px;">


                            <div style="position: absolute;top:40%;width: 50px;height: 50px;
                                    left:45%;background: rgba(34, 34, 34, 0.28);;border-radius: 50px;border:1px solid #eee;"
                                    ng-if="maintain.description.video!==undefined&&maintain.description.video!==null"
                                    ng-click="moviePlay()">
                                <div style="width: 100%;height: 100%;display: table;">
                                    <div style="display: table-cell;vertical-align: middle;text-align: center">
                                        <span style="font-size: 2em;margin-left:4px;color:#fff;">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute;top:35%;width: 50px;height: 50px;
                                        left:40%;"
                                 ng-if="maintain.description.video==undefined||maintain.description.video==null||maintain.description.video==''"
                                ng-click="startCapture()">
                                <span style="font-size: 7em;color:#fff;"><i class="ion-videocamera"></i></span>
                            </div>
                        </div>

                        <div class="item"
                             style="border:0px;padding:10px;position: relative;
                             ;width: 100%;">
                            <button class="button button-block button-calm" style="width: 40%;margin-left:30%;line-height: 32px;margin-bottom: 0;min-height: 0px;"
                                    ng-click="startCapture()">
                                <span ng-if=" maintain.description.video!==undefined&& maintain.description.video!==null">
                                    重新录制视频
                                </span>
                                <span ng-if="maintain.description.video==undefined||maintain.description.video==null||
                                                maintain.description.video==''">
                                    录制视频
                                </span>
                            </button>
                        </div>

                    </div>

                </div>

                <div style="width: 12%;display: inline-block;text-align: center;float: left;margin-top: 20px;">
                    <ul style="list-style: none;padding: 0;">
                        <li>
                            <div>
                                <div ng-style="module=='text'?moduleSelectedStyle:moduleUnSelectedStyle" ng-click="moduleSelect('text')">
                                    <span style="font-size: 1.8em;color:#fff;"><i class="fa fa-edit"></i></span>
                                </div>
                            </div>
                        </li>
                        <li style="margin-top: 1px;">
                            <div>
                                <div ng-style="module=='audio'?moduleSelectedStyle:moduleUnSelectedStyle" ng-click="moduleSelect('audio')">
                                    <span style="font-size: 1.8em;color:#fff;"><i class="ion-mic-a"></i></span>
                                </div>
                            </div>
                        </li>
                        <li style="margin-top: 1px;">
                            <div>
                                <div ng-style="module=='video'?moduleSelectedStyle:moduleUnSelectedStyle" ng-click="moduleSelect('video')">
                                    <span style="font-size: 1.8em;color:#fff;"><i class="ion-videocamera"></i></span>
                                </div>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>



            <div class="list list-inset padding"
                 style="margin-bottom:40px;padding:3px;background-color: transparent;overflow: initial;margin-top:0px;"
                 ng-if="tabIndex==1">

                <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;"
                        ng-click="pickMaintainDaily('maintain',1)">
                    选择附近的维修厂
                </button>

            </div>


            <!-- 事故维修 -->
            <div ng-if="tabIndex==2" class="list list-inset padding" style="margin-top:0px;">

                <div class="item item-divider" style="background-color:transparent;border: 0px;text-align: center;">
                    事故状况
                </div>

                <div class="list padding">

                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('已报案')">
                <span class="input-label"
                      style="display: inline-block;width: 45%;text-align: center">
                  已报案:
                </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                     <i ng-if="accident.type!='已报案'" class="ion-ios-checkmark-outline"></i>
                    <i ng-if="accident.type=='已报案'" class="ion-ios-checkmark"></i>
                </span>
                    </div>

                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('未报案')">
                <span class="input-label"
                      style="display: inline-block;width: 45%;text-align: center">
                  未报案:
                </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                     <i ng-if="accident.type!='未报案'" class="ion-ios-checkmark-outline"></i>
                    <i ng-if="accident.type=='未报案'" class="ion-ios-checkmark"></i>
                </span>
                    </div>

                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('代索赔')">
                <span class="input-label"
                      style="display: inline-block;width: 45%;text-align: center">
                  代索赔:
                </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                     <i ng-if="accident.type!='代索赔'" class="ion-ios-checkmark-outline"></i>
                    <i ng-if="accident.type=='代索赔'" class="ion-ios-checkmark"></i>
                </span>
                    </div>




                    <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;"
                            ng-click="pickMaintainDaily('maintain')">
                        选择附近的维修厂
                    </button>


                </div>

            </div>

        </div>





    </ion-content>
</ion-view>
