
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view  view-title="维修服务" hide-nav-bar="true">

    <ion-content scroll="false" delegate-handle="maintain" style="padding:0;margin:0;background-color:rgba(128, 128, 128, 0.2);
    background-image: url('img/bkg_old@2x.png');background-repeat: no-repeat;background-size: 100%;background-position: 0% 20%;">

        <!-- header bar -->
        <div class="bar bar-header bar-dark" style="position: static;height:11%;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
            <h1 class="title" style="display: inline-block;width: 90%;margin-left:5%;text-align:center;margin-top:4%">
                <span style="display: inline-block;width:20%;text-align:left;font-size: 1.6em;"  ng-click="goBack()">
                    <i class="ion-chevron-left"></i>
                </span>
                <span style="display: inline-block;width: 80%;text-align: center;padding-right: 20%;">
                    维修服务
                </span>
            </h1>
        </div>


        <div style="margin-bottom:0px; width: 100%;height:8%;padding:0;background-color: white; border-bottom: 1px solid #ddd;">

            <div ng-style="tabIndex==0?selectedTabStyle:unSelectedTabStyle"
                 style="border-top-left-radius: 7px;border-bottom-left-radius: 7px;"
                 ng-click="tabChange(0)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span ng-if="tabIndex==0" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color: rgba(14, 153, 193, 0.73);">日常保养</span>
                    <span ng-if="tabIndex!==0" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color: #646464;">日常保养</span>
                </div>
            </div>
            <div ng-style="tabIndex==1?selectedTabStyle:unSelectedTabStyle"
                 style="border-top-left-radius: 7px;border-bottom-left-radius: 7px;"
                 ng-click="tabChange(1)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span ng-if="tabIndex==1" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color: rgba(14, 153, 193, 0.73);">故障维修</span>
                    <span ng-if="tabIndex!==1" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color: #646464;">故障维修</span>
                </div>
            </div>
            <div ng-style="tabIndex==2?selectedTabStyle:unSelectedTabStyle"
                 style="border-top-right-radius: 7px;border-bottom-right-radius: 7px;"
                 ng-click="tabChange(2)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span ng-if="tabIndex==2" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color:rgba(14, 153, 193, 0.73);">事故维修</span>
                    <span ng-if="tabIndex!==2" style="display: table-cell;vertical-align: middle;text-align:center;font-size: large;color: #646464;">事故维修</span>
                </div>
            </div>
            <div style="width: 1%;float:left;display: inline-block;height: 100%;"></div>
        </div>

        <div style="margin-top:2px;height:80%">
            <!-- 日常保养 -->
            <div ng-if="tabIndex==0" style="height: 100%;width: 100%;background-image: url('img/bkg_mt@2x.png');background-color:#fff;background-repeat: no-repeat;background-size: 100%;">

                <ion-scroll style="height: 77%;">
                <div style="height: 70%;width: 100%;">
                    <div class="item" style="padding: 9px;padding-left:4px;padding-right:11px;margin-top:2px;background: transparent;
                        width: 100%;border:0px;">
                        <ul style="margin-bottom:6px;background:transparent;">
                            <li style="width: 33.333%;min-height:104px;display: inline-block;text-align: center;background:transparent;"
                                ng-click="grid_check(0)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 0, 0, 0.52);">
                                    <img src="img/maintain1.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                       机油、机滤
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[0].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[0].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: transparent;"
                                ng-click="grid_check(1)">
                                <div style="font-size: 2em;margin-top:14%;color:#e6be1f">
                                    <img src="img/maintain2.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                         更换刹车片
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[1].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[1].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(2)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(187, 110, 50, 0.94);">
                                    <img src="img/maintain3.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                         雨刷片更换
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[2].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[2].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul style="margin-bottom:6px;background:transparent">
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(3)">
                                <div style="font-size: 2em;margin-top:14%;color:#6f357b">
                                    <img src="img/maintain4.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        轮胎更换
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[3].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[3].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(4)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 116, 116, 0.81);">
                                    <img src="img/maintain5.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        燃油添加剂
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[4].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[4].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(5)">
                                <div style="font-size: 2em;margin-top:14%;color:#0023f1">
                                    <img src="img/maintain6.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        空气滤清器
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[5].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[5].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul style="margin-bottom:6px;background:transparent">
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(6)">
                                <div style="font-size: 2em;margin-top:14%;color:#85bb32">
                                    <img src="img/maintain7.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        检查火花塞
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[6].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[6].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(7)">
                                <div style="font-size: 2em;margin-top:14%;color:#111">
                                    <img src="img/maintain8.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        检查驱动片
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[7].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[7].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background:transparent;"
                                ng-click="grid_check(8)">
                                <div style="font-size: 2em;margin-top:14%;color:#ef70ff">
                                    <img src="img/maintain9.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        更换空调滤芯
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[8].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[8].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul style="margin-bottom:6px;background:transparent">
                            <li style="width: 33.333%;min-height:104px;display: inline-block;text-align: center;background:transparent;"
                                ng-click="grid_check(9)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 0, 0, 0.52);">
                                    <img src="img/maintain10.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #323232;">
                                        更换蓄电池防冻液
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #068E78;border: 1px solid #068E78;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[9].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[9].checked==true">
                                        已选择
                                    </span>

                                </div>
                            </li>
                        </ul>


                        <div style="min-height: 10px;">
                        </div>

                    </div>

                </div>

                </ion-scroll>

                <div class="list" style="padding:10px;padding-top: 0px;height: 30%;">
                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                                    padding:4px;background-color: transparent;">
                        <span class="input-label" style="display: inline-block;width:20%;padding-left: 3%;max-width: 150px;margin-top:8px;">
                          里程:
                        </span>
                        <input type="text" placeholder="请输入您的里程"
                               style="display: inline-block;background-color: transparent;width:35%"
                               ng-model="miles"
                        />
                        <button class="button button-stable" style="display: inline-block;background-color: rgba(255, 255, 255, 0.7)" ng-click="getMaintainPlan(miles)">
                            查看保养计划
                        </button>
                    </div>


                    <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;background-color: rgba(14, 153, 193, 0.73);"
                            ng-click="pickMaintainDaily('maintain',0)">
                        选择附近的维修厂
                    </button>
                    <a id="maintenance_anchor"></a>
                    <!--<button class="button button-block button-assertive" style="width: 70%;margin-left:15%;"-->
                    <!--ng-click="open_maintenanceTAModal()">-->
                    <!--提交服务项目-->
                    <!--</button>-->
                </div>

            </div>


            <!-- 文本、音频、视频 -->

            <div class="list list-inset padding"
                 style="margin-bottom:40px;padding:3px 3px 3px 0px;background-color: transparent;overflow: initial;margin-top:0px;
                        width: 100%;margin-left:0px;"
                 ng-if="tabIndex==1">

                <!-- 文本 -->
                <div class="item" style="padding-top:4px;margin:0;border: 0;padding-bottom: 4px;background:transparent;margin-bottom:3%;">

                    <div style="width: 100%;height: 40px;text-align: left;padding:10px;border:1px solid #ddd;border-bottom:0px;background:white;">
                        <span style="color:#666;font-size: 1.2em;">文本描述</span>
                    </div>

                    <div style="width: 100%;border: 1px solid #ddd;background:white;height: 120px;">
                        <textarea style="width:100%;height:120px;background-color: transparent;padding: 10px;margin:0;overflow:hidden; resize:none;"
                                  placeholder="请对故障进行文本描述......"
                                  ng-model="maintain.description.text"
                                  ng-change="descriptionTextChange()"
                                  cols="40"
                                  rows="7"
                        ></textarea>
                        <span style="display: inline-block;height: 40px;width: 100%;text-align: right;padding:10px 10px;">
                            <span ng-if="maintain.description.text!==undefined&&maintain.description.text!==null">
                                 {{ maintain.description.text.toString().length}}/300
                            </span>
                            <span ng-if="maintain.description.text==undefined||maintain.description.text==null">0/300</span>

                        </span>
                    </div>
                </div>


                <div class="item" style="border:0;margin:0;padding:6px 10px;width: 100%;background: transparent;">

                    <!-- 音频 -->
                    <div style="width: 52%;display: inline-block;height: 100%;margin-right: 1%;margin-left:1%;">
                        <span style="width: 100%;display: inline-block;margin-left:2.5%;margin-right: 2.5%;">
                            <div style="width: 100%;background:#f96666;height: 130px;border-radius: 8px; ">
                                <span style="width: 65%;display: inline-block;height: 100%;float:left;">
                                    <div style="width: 100%;height: 100%;position: relative;">
                                         <div style="width: 100%;bottom: 10px;position: absolute;left:10px;">
                                             <span style="width: 12%;" ng-repeat="amplitude in amplitudeWaves track by $index">
                                                 <img ng-src="{{amplitudeImgMap[amplitude].src}}" style="max-width: 100%;">
                                             </span>
                                             <div style="width: 100%;height: 30px;text-align: center;">
                                                 <span style="color:#fff;">{{audioMinuteStr}}:{{audioSecondStr}}</span>
                                             </div>
                                         </div>

                                    </div>

                                </span>
                                <span style="width: 35%;display: inline-block;height: 100%">
                                    <div style="width: 100%;height: 100%;display: table;text-align: center;">
                                        <span style="vertical-align: middle;display: table-cell;">
                                            <div style="height: 60px;">
                                                <img src="img/maike-@2x.png" alt="" style="max-width:100%;" ng-click="mutexRecord()">
                                            </div>
                                            <div style="height: 60px;">
                                                <img src="img/play@2x.png" alt="" style="max-width:100%;" ng-click="playRecord()">
                                            </div>
                                        </span>
                                    </div>
                                </span>
                            </div>

                            <div style="width: 100%;text-align: center;margin-top:10px;">
                                <span style="font-size: 1.1em;font-weight: bolder;">音频描述</span>
                            </div>
                        </span>
                    </div>


                    <!-- 视频 -->
                    <div style="width: 44%;display: inline-block;height: 100%;margin-left:1%;margin-right: 1%;">

                        <div style="width: 100%;height: 130px;position: relative;background-color:#444;border-radius: 8px;">
                            <!-- 视频thumbnail -->
                            <img ng-if="videoThumbnail!==undefined&&videoThumbnail!==null"
                                 ng-src="{{videoThumbnail}}" style="width: 100%;max-height: 120px;">


                            <div ng-if="maintain.description.video!==undefined&&maintain.description.video!==null">
                                <!-- 播放按钮 -->
                                <div style="position: absolute;top:40%;width: 37px;height: 37px;
                                 left:40%;background:rgba(34, 34, 34, 0.28);;border-radius: 37px;border:1px solid #eee;"
                                     ng-click="moviePlay()">
                                    <div style="width: 100%;height: 100%;display: table;">
                                        <div style="display: table-cell;vertical-align: middle;text-align: center">
                                            <span style="font-size: 1.8em;margin-left:4px;color:#fff;">
                                                <i class="fa fa-play"></i>
                                            </span>
                                        </div>
                                    </div>
                                </div>

                                <!-- 录制按钮 -->
                                <div style="position: absolute;top:2%;width: 25px;height: 20px;
                                    right:10px;background:#fff;" class="card"
                                     ng-click="startCapture()">
                                    <div style="width: 100%;height: 100%;display: table;text-align: center;">
                                        <span style="font-size: 1em;color:#666;display: table-cell;vertical-align: middle;">
                                            <img src="img/sas@2x.png">
                                        </span>
                                    </div>
                                </div>



                            </div>

                            <!-- 录制按钮 -->
                            <div style="position: absolute;top:25%;width: 35px;height: 35px;
                                    left:40%;background:#fff;border-radius: 20px;" class="card"
                                 ng-if="maintain.description.video==undefined||maintain.description.video==null||maintain.description.video==''"
                                 ng-click="startCapture()">
                                <div style="width: 100%;height: 100%;display: table;text-align: center;">
                                    <span style="font-size: 1.5em;color:#666;display: table-cell;vertical-align: middle;text-align: center">
                                        <img src="img/sas@2x.png">
                                    </span>
                                </div>
                            </div>
                        </div>

                        <div style="width: 100%;text-align: center;margin-top:10px;">
                            <span style="font-size: 1.1em;font-weight: bolder;">视频描述</span>
                        </div>


                    </div>

                </div>



                <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;background-color: rgba(14, 153, 193, 0.73);"
                        ng-click="pickMaintainDaily('maintain',1)">
                    选择附近的维修厂
                </button>

            </div>


            <!-- 事故维修 -->
            <div ng-if="tabIndex==2" class="list list-inset padding" style="margin-top:0px;background: transparent;">

                <div class="list padding">


                    <div class="item shadow"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('已报案')">
                        <span class="input-label"
                                      style="display: inline-block;width: 45%;text-align: center">
                            已报案:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                            <i ng-if="accident.type!='已报案'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='已报案'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>

                    <div class="item shadow "
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('未报案')">
                        <span class="input-label"
                              style="display: inline-block;width: 45%;text-align: center">
                          未报案:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                             <i ng-if="accident.type!='未报案'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='未报案'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>


                    <div class="item shadow"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('代索赔')">
                        <span class="input-label"
                              style="display: inline-block;width: 45%;text-align: center">
                          代索赔:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                             <i ng-if="accident.type!='代索赔'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='代索赔'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>




                    <button class="button button-block button-balanced" style="width:70%;margin-left:15%;margin-top:20%;border-radius:15px;background-color: rgba(14, 153, 193, 0.73)"
                            ng-click="pickMaintainDaily('maintain')">
                        选择附近的维修厂
                    </button>


                </div>

            </div>

        </div>





    </ion-content>
  </ion-view>
</ion-nav-view>
