<ion-view view-title="维修服务" >
    <ion-nav-bar class="bar-calm" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr" style="font-size: 2.4em;"
                    ng-click="goBack()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>
    <ion-content delegate-handle="maintain" >


        <div style="margin:5%;margin-left:7%;margin-right:3%;width:90%;height: 40px;padding: 0;">

            <div style="width: 2%;display: inline-block;height: 100%"></div>

            <div ng-style="tabIndex==0?selectedTabStyle:unSelectedTabStyle"
                 style="border-top-left-radius: 7px;border-bottom-left-radius: 7px;"
                 ng-click="tabChange(0)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span style="display: table-cell;vertical-align: middle;text-align: center;font-weight: bolder;">日常保养</span>
                </div>
            </div>
            <div ng-style="tabIndex==1?selectedTabStyle:unSelectedTabStyle" ng-click="tabChange(1)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span style="display: table-cell;vertical-align: middle;text-align: center;font-weight: bolder;">故障维修</span>
                </div>
            </div>
            <div ng-style="tabIndex==2?selectedTabStyle:unSelectedTabStyle"
                 style="border-top-right-radius: 7px;border-bottom-right-radius: 7px;"
                 ng-click="tabChange(2)">
                <div style="width: 100%;height: 100%;display: table;">
                    <span style="display: table-cell;vertical-align: middle;text-align: center;font-weight: bolder;">事故维修</span>
                </div>
            </div>
            <div style="width: 1%;display: inline-block;height: 100%;"></div>
        </div>

        <div style="margin-top:2px;">
            <!-- 日常保养 -->
            <div ng-if="tabIndex==0" style="height: 100%;width: 100%;">
                <div class="item item-divider"
                     style="background-color: transparent;border-top:0px;border-bottom:0px;text-align: left;margin-top:20px;padding-left:0px;">
                    <span style="padding-right: 35px;padding-top:10px;padding-bottom:10px;background: #ffd324;
                    border-top-right-radius: 25px;border-bottom-right-radius: 25px;">
                        <span style="color:#fff;">
                            请点选以下日常保养项目
                        </span>
                    </span>
                </div>


                <div style="height: 70%;width: 100%;">
                    <div class="item" style="padding: 9px;padding-left:4px;padding-right:11px;margin-top:2px;background: transparent;
                        width: 100%;border:0px;">
                        <ul style="margin-bottom:6px;">
                            <li style="width: 33.333%;min-height:104px;display: inline-block;text-align: center;background: #fff;"
                                ng-click="grid_check(0)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 0, 0, 0.52);">
                                    <img src="img/maintain1.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                       机油、机滤
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[0].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[0].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(1)">
                                <div style="font-size: 2em;margin-top:14%;color:#e6be1f">
                                    <img src="img/maintain2.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                         更换刹车片
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[1].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[1].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(2)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(187, 110, 50, 0.94);">
                                    <img src="img/maintain3.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                         雨刷片更换
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[2].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[2].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul style="margin-bottom:6px;">
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(3)">
                                <div style="font-size: 2em;margin-top:14%;color:#6f357b">
                                    <img src="img/maintain4.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        轮胎更换
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[3].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[3].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(4)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 116, 116, 0.81);">
                                    <img src="img/maintain5.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        燃油添加剂
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[4].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[4].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>

                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(5)">
                                <div style="font-size: 2em;margin-top:14%;color:#0023f1">
                                    <img src="img/maintain6.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        空气滤清器
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[5].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[5].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(6)">
                                <div style="font-size: 2em;margin-top:14%;color:#85bb32">
                                    <img src="img/maintain7.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        检查火花塞
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[6].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[6].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(7)">
                                <div style="font-size: 2em;margin-top:14%;color:#111">
                                    <img src="img/maintain8.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        检查驱动片
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[7].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[7].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                            <li style="width: 33.3333%;min-height:104px;display: inline-block;
                            text-align: center;background: #fff;"
                                ng-click="grid_check(8)">
                                <div style="font-size: 2em;margin-top:14%;color:#ef70ff">
                                    <img src="img/maintain9.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        更换空调滤芯
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[8].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[8].checked==true">
                                        已选择
                                    </span>
                                </div>
                            </li>
                        </ul>

                        <ul style="margin-bottom:6px;">
                            <li style="width: 33.333%;min-height:104px;display: inline-block;text-align: center;background: #fff;"
                                ng-click="grid_check(9)">
                                <div style="font-size: 2em;margin-top:14%;color:rgba(255, 0, 0, 0.52);">
                                    <img src="img/maintain10.png"/>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.9em;color: #7B7979;">
                                        更换蓄电池防冻液
                                    </span>
                                </div>
                                <div style="margin-top:5%">
                                    <span style="font-size: 0.7em;color: #7BC7BB;border: 1px solid #7BC7BB;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;"
                                          ng-if="dailys[9].checked!==true">
                                        选择
                                    </span>
                                    <span style="font-size: 0.7em;color: white;border: 1px solid #F56C00;margin-top: 5px; padding-left: 6px;padding-right: 6px;padding-top: 3px;padding-bottom: 3px;border-radius: 20%;background-color: #F56C00;"
                                          ng-if="dailys[9].checked==true">
                                        已选择
                                    </span>

                                </div>
                            </li>
                        </ul>

                        <div style="min-height: 10px;">
                        </div>

                    </div>

                </div>

                <div class="list" style="padding:10px;padding-top: 0px;height: 30%;">
                    <div class="item"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                                    padding:4px;background-color: transparent;">
                        <span class="input-label" style="display: inline-block;width:20%;padding-left: 3%;max-width: 150px;margin-top:8px;">
                          里程:
                        </span>
                        <input type="text" placeholder="请输入您的里程"
                               style="display: inline-block;background-color: transparent;width:35%"
                               ng-model="miles"
                        />
                        <button class="button button-stable" style="display: inline-block;" ng-click="getMaintainPlan(miles)">
                            查看保养计划
                        </button>
                    </div>


                    <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;"
                            ng-click="pickMaintainDaily('maintain',0)">
                        选择附近的维修厂
                    </button>
                    <a id="maintenance_anchor"></a>
                    <!--<button class="button button-block button-assertive" style="width: 70%;margin-left:15%;"-->
                    <!--ng-click="open_maintenanceTAModal()">-->
                    <!--提交服务项目-->
                    <!--</button>-->
                </div>

            </div>





            <div class="list list-inset padding"
                 style="margin-bottom:40px;padding:3px 3px 3px 0px;background-color: transparent;overflow: initial;margin-top:0px;
                        width: 100%;margin-left:0px;"
                 ng-if="tabIndex==1">


                <!-- 1 -->
                <div class="item" style="height: 130px;width:100%;position: relative;border:0px;margin-top:20px;">

                    <div style="position: absolute;width: 4%;height: 100%;left:0;top:0;">
                        <div style="width:100%;height: 100%;display: table;">
                            <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;padding-left: 10px;">
                                <div style="display: inline-block;width: 20%;" >
                                </div>
                            </span>
                        </div>
                    </div>


                    <div style="position: absolute;width: 2px;height: 100%;left:4%;top:0;background: #aaa;">

                        <div style="width: 100%;height: 100%;position: relative;">
                            <div style=" position: absolute;top: 35%;left:-16px;z-index: 9999;
                                    width: 32px;height: 32px;padding: 1px;border-radius: 32px;border:1px solid #222;background: #fff;">
                                <div style="width: 28px;height: 28px;border-radius: 28px;background: #404141;display: table;">
                                    <div style="display: table-cell;vertical-align: middle;text-align: center;">
                                        <span style="color:#fff;">1</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

                    <div style="position: absolute;left:10%;width: 80%;height: 100%;top:0;">
                        <div style="width: 100%;">
                            <span style="color:#222;">文本描述:</span>
                        </div>
                        <div style="width: 100%;display: table;height: 90px;">
                          <div style="display: table-cell;vertical-align: middle;padding-top: 10px;padding-left: 0px;padding-right: 10px;">
                              <div style="width: 100%;height: 90px;position: relative;margin: 0;padding: 0;" >
                                  <textarea style="width:100%;height:90px;background-color: transparent;padding: 10px;margin:0;"
                                            ng-class="textareaFocusClass"
                                            placeholder="请对故障进行文本描述..."
                                            ng-model="maintain.description.text"
                                            ng-focus="textareaFocusClass='highLight'"
                                            ng-blur="textareaFocusClass='card'"
                                  ></textarea>

                              </div>
                          </div>
                        </div>
                    </div>

                </div>

                <!-- 2 -->
                <div class="item" style="height: 370px;width:100%;position: relative;border:0px;">

                    <div style="position: absolute;width: 4%;height: 100%;left:0;top:0;">
                        <div style="width:100%;height: 100%;display: table;">
                            <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;padding-left: 10px;">
                                <div style="display: inline-block;width: 20%;" >
                                </div>
                            </span>
                        </div>
                    </div>


                    <div style="position: absolute;width: 2px;height: 100%;left:4%;top:0;background: #aaa;">

                        <div style="width: 100%;height: 100%;position: relative;">
                            <div style=" position: absolute;top: 10%;left:-16px;z-index: 9999;
                                    width: 32px;height: 32px;padding: 1px;border-radius: 32px;border:1px solid #222;background: #fff;">
                                <div style="width: 28px;height: 28px;border-radius: 28px;background: #404141;display: table;">
                                    <div style="display: table-cell;vertical-align: middle;text-align: center;">
                                        <span style="color:#fff;">2</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

                    <div style="position: absolute;left:8%;width: 85%;top:50px;">
                        <div class="item"
                             style="margin:1px;border:0px;padding:10px;position: relative;
                             background-color:transparent;width: 100%;height: 320px;">

                            <span class="input-label" style="display: inline-block;width: 35%;text-align: left;">
                                   音频描述: &nbsp;&nbsp;&nbsp;
                            </span>
                            <div class="item range range-positive" style="background: transparent;border: 0px;">
                                <span style="padding:4px 10px;" ng-click="getADLength()"><i class="fa fa-hand-pointer-o"></i></span>
                                <span style="padding: 4px 6px;font-size: 1.1em;color:#19d8cb"><i class="fa fa-play"></i></span>
                                <input type="range" name="volume" ng-model="audioPos" ng-value="audioPos" disabled>
                                <span ng-if="audioLength!==undefined&&audioLength!==null">
                                    {{(audioLength/1000).toFixed(2)}}
                                </span>
                            </div>

                            <div ng-class="{true:'vibrate-pink',false:''}[isRecording]" style="height: 150px;width: 150px;text-align: center;padding: 15px;margin-left: 25%;margin-right: 17%;
                                border-radius: 100%;border: 1px solid transparent;background-color:rgba(255, 168, 204, 0.64);position:absolute;top:80px;">
                                <div ng-class="{true:'vibrate-red',false:''}[isRecording]" style="height: 100%;width: 100%;margin-left: 0;margin-right: 0;padding:8px;border: 1px solid transparent;border-radius: 100%;background-color:rgba(255, 116, 116, 0.64);">
                                    <div style="height: 100%;width: 100%;margin-left: 0;margin-right: 0;border: 1px solid white;border-radius: 100%;background-color:white"
                                         ng-click="startRecord()">
                                        <div style="margin-top: 15%;font-size: 4em;">
                                            <i style="color: #a2a2a2;" class="ion-mic-a"></i>
                                        </div>
                                    </div>

                                </div>
                            </div>

                            <div style="margin-top: 2px;background-color:rgba(255, 116, 116, 0.41);
                                        position:absolute;top:260px;width:93%;height:15%;padding: 4%;padding-top:5px;">

                                <div style="display:inline-block;width:33%;text-align: center;"
                                     ng-click="startRecord()">
                                    <div style="height: 40px;width: 40px;border-radius: 30px;border: 1px solid white;
                                            margin-left:30%;padding-top: 5%;padding-left: 2%;">
                                        <span style="font-size: 2em;">
                                            <i class="ion-mic-a" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>

                                <div style="display:inline-block;width:32%;text-align: center;"
                                     ng-click="stopRecord()">
                                    <div style="height: 40px;width: 40px;border-radius: 30px;border: 1px solid white;
                                            margin-left: 30%;padding-top: 5%;padding-left:%;">
                                        <span style="font-size: 2em;">
                                            <i class="ion-pause" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>

                                <div style="display:inline-block;width:32%;text-align: center;"
                                     ng-click="play()">
                                    <div style="width: 40px;height: 40px;border-radius: 30px;border: 1px solid #fff;
                                            margin-left:30%;padding-top: 5%;padding-left:3%;">
                                        <span style="font-size: 2em">
                                            <i class="ion-play" style="color:white"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="item" style="height: 400px;width:100%;position: relative;border:0px;">

                    <div style="position: absolute;width: 4%;height: 100%;left:0;top:0;">
                        <div style="width:100%;height: 100%;display: table;">
                            <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;padding-left: 10px;">
                                <div style="display: inline-block;width: 20%;" >
                                </div>
                            </span>
                        </div>
                    </div>


                    <div style="position: absolute;width: 2px;height: 100%;left:4%;top:0;background: #aaa;">

                        <div style="width: 100%;height: 100%;position: relative;">
                            <div style=" position: absolute;top: 10%;left:-16px;z-index: 9999;
                                    width: 32px;height: 32px;padding: 1px;border-radius: 32px;border:1px solid #222;background: #fff;">
                                <div style="width: 28px;height: 28px;border-radius: 28px;background: #404141;display: table;">
                                    <div style="display: table-cell;vertical-align: middle;text-align: center;">
                                        <span style="color:#fff;">3</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

                    <div style="position: absolute;left:10%;width: 82%;top:50px;">
                        <div class="item"
                             style="margin-top:6px;margin-bottom: 2px;border:0px;padding:10px;padding-left: 11px;padding-top:12px;position: relative;
                             background-color:transparent;width: 100%;">
                            <span>视频描述:</span>
                        </div>

                        <!-- 视频预览 -->
                        <div class="item"
                             style="margin-bottom: 1px;border:0px;padding: 0;position: relative;
                             background-color:#aaaaaa;width: 100%;height: 240px;">

                            <img ng-if="videoThumbnail!==undefined&&videoThumbnail!==null"
                                 ng-src="{{videoThumbnail}}" style="width: 100%;max-height: 240px;">


                            <div style="position: absolute;top:40%;width: 50px;height: 50px;
                                    left:45%;background: rgba(34, 34, 34, 0.28);;border-radius: 50px;border:1px solid #eee;"
                                 ng-if="maintain.description.video!==undefined&&maintain.description.video!==null"
                                 ng-click="moviePlay()">
                                <div style="width: 100%;height: 100%;display: table;">
                                    <div style="display: table-cell;vertical-align: middle;text-align: center">
                                        <span style="font-size: 2em;margin-left:4px;color:#fff;">
                                            <i class="fa fa-play"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div style="position: absolute;top:35%;width: 50px;height: 50px;
                                        left:40%;"
                                 ng-if="maintain.description.video==undefined||maintain.description.video==null||maintain.description.video==''"
                                 ng-click="startCapture()">
                                <span style="font-size: 7em;color:#fff;"><i class="ion-videocamera"></i></span>
                            </div>
                        </div>

                        <div class="item"
                             style="border:0px;padding:10px;position: relative;
                             ;width: 100%;">
                            <button class="button button-block button-calm" style="width: 40%;margin-left:30%;line-height: 32px;margin-bottom: 0;min-height: 0px;"
                                    ng-click="startCapture()">
                                <span ng-if=" maintain.description.video!==undefined&& maintain.description.video!==null">
                                    重新录制视频
                                </span>
                                <span ng-if="maintain.description.video==undefined||maintain.description.video==null||
                                                maintain.description.video==''">
                                    录制视频
                                </span>
                            </button>
                        </div>
                    </div>

                </div>




                <button class="button button-block button-balanced" style="width: 70%;margin-left:15%;"
                        ng-click="pickMaintainDaily('maintain',1)">
                    选择附近的维修厂
                </button>

            </div>


            <!-- 事故维修 -->
            <div ng-if="tabIndex==2" class="list list-inset padding" style="margin-top:0px;">

                <div class="list padding">


                    <div class="item shadow"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('已报案')">
                        <span class="input-label"
                                      style="display: inline-block;width: 45%;text-align: center">
                            已报案:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                            <i ng-if="accident.type!='已报案'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='已报案'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>

                    <div class="item shadow "
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('未报案')">
                        <span class="input-label"
                              style="display: inline-block;width: 45%;text-align: center">
                          未报案:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                             <i ng-if="accident.type!='未报案'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='未报案'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>


                    <div class="item shadow"
                         style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                          padding:10px;background-color:transparent;overflow:initial"
                         ng-click="accidant_check('代索赔')">
                        <span class="input-label"
                              style="display: inline-block;width: 45%;text-align: center">
                          代索赔:
                        </span>
                        <span style="display:inline-block;width: 55%;text-align: center;vertical-align: middle;
                              font-size: 2em;">
                             <i ng-if="accident.type!='代索赔'" class="ion-ios-checkmark-outline"></i>
                            <i ng-if="accident.type=='代索赔'" class="ion-ios-checkmark"></i>
                        </span>
                    </div>




                    <button class="button button-block button-balanced" style="width:70%;margin-left:15%;margin-top:20%;border-radius:15px;background-color: rgba(14, 153, 193, 0.73)"
                            ng-click="pickMaintainDaily('maintain')">
                        选择附近的维修厂
                    </button>


                </div>

            </div>

        </div>





    </ion-content>
</ion-view>
