<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view view-title="填写寿险意向" hide-nav-bar="true">

        <ion-content  >


            <ion-slide-box>
                <ion-slide>
                    <img src="img/authority_grant.png" style="width: 90%;margin-left:5%;"/>
                    <button class="button button-outline button-positive" style="position: absolute;bottom:70px;left:40%;
                        padding-left:28px;padding-right: 28px;" ng-click="requestPermissions()">
                        授权
                    </button>
                </ion-slide>
                <ion-slide>
                    <img src="img/whitelist_set.png" style="width: 90%;margin-left:5%;"/>
                    <button class="button button-outline button-positive" style="position: absolute;bottom:70px;left:13%;
                        padding-left:12px;padding-right: 12px;" ng-click="">
                        进入'我',查看帮助中的'内存白名单设置'
                    </button>
                </ion-slide>
                <ion-slide on-slide-changed="slideHasChanged(index)">
                    <img src="img/backend_keepAlive.png" style="width: 90%;margin-left:5%;"/>
                   <button class="button button-outline button-positive" style="position: absolute;bottom:70px;left:18%;
                        padding-left:12px;padding-right: 12px;" ng-click="">
                    进入'我',查看帮助中的'后台保活'
                    </button>
                </ion-slide>
            </ion-slide-box>


        </ion-content>
    </ion-view>
</ion-nav-view>
