<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view view-title="填写寿险意向" hide-nav-bar="true">

        <ion-content scroll="false" >

            <ion-slide-box on-slide-changed="slideHasChanged($index)" style="width: 100%;height: 100%;">
                <!-- 告知图标含义 -->
                <ion-slide>

                    <div style="width: 100%;height: 70%;text-align: center;">
                        <img src="img/gaode01.png" alt="" style="max-height: 100%;">
                    </div>

                    <div style="width: 100%;height: 30%;position: relative">
                        <div style="width: 100%;height: 100%;display: table;text-align: center;">
                            <span style="display: table-cell;vertical-align: middle;">蓝色图标代表您当前通过网络定位所得到的位置</span>
                        </div>
                        <div style="position: absolute;right: 20px;bottom: 10px;text-align: center;">
                            <button style="background:transparent;border-color:#11c1f3;color:#11c1f3;padding-left:18px;padding-right: 18px;
                            height: 35px !important;min-height: 35px;line-height: 35px;" ng-click="go_back()"
                                    class="button button-outline button-calm">
                                跳过
                            </button>
                        </div>
                    </div>


                </ion-slide>
                <!-- 告知如何定位 -->
                <ion-slide>
                    <div class="box yellow"><h1>YELLOW</h1></div>
                </ion-slide>
            </ion-slide-box>


        </ion-content>
    </ion-view>
</ion-nav-view>
