<ion-view view-title="绑定车辆">

    <ion-content>

        <div class="list list-inset padding" style="margin-bottom:40px;background-color: transparent;">
            <!-- 车牌号 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

               <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                 车牌:
               </span>
                <span style="width: 65%;display: inline-block;text-align: left;">
                   <input type="text" placeholder="请输入您的车牌"
                     style="display:inline-block;background-color: transparent;"
                     ng-value="carInfo.carNum"
                     ng-model="carInfo.carNum"
                   />
                </span>
            </div>

            <!-- 车主姓名 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">
                    姓名:
                </span>
                <span style="width: 35%;display: inline-block;text-align: left;">
                <input type="text" placeholder="请输入车主姓名"
                      style="display:inline-block;background-color: transparent;"
                      ng-value="carInfo.ownerName"
                      ng-model="carInfo.ownerName"
                      ng-change="validate(carInfo,'ownerName','/\\w|\\d/')"
                />
                </span>
                <span style="display: inline-block;width: 40%;text-align: left;color:#ff3b30;font-size: 0.8em;"
                      ng-if="carInfo['ownerName_error']==false">
                    姓名不能含有数字和字母
                </span>
            </div>

        </div>

        <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent;">
            <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="bindNewCar()">
                <h1 class="title">绑定车辆</h1>
            </div>
        </div>



    </ion-content>

</ion-view>
