<ion-view view-title="车辆详情">

    <ion-nav-bar class="bar-stable" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr"
                    style="font-size: 2.4em;" ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>

    </ion-nav-bar>
    <ion-content scroll="false" >
        <div class="list list-inset padding" style="margin-bottom:40px;background-color: transparent;">

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;background-color:transparent;overflow:initial">

                <span class="input-label"
                      style="display: inline-block;width: 35%;text-align: left">
                  车牌:
                </span>

                <span style="width: 65%;display: inline-block;text-align: left;">
                  <input type="text"
                         style="display:inline-block;background-color: transparent;"
                         ng-value="carInfo.carNum"
                         ng-model="carInfo.carNum"/>
                </span>

            </div>


            <div class="item" style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                padding:10px;background-color:transparent;">
                <span class="input-label" style="display:inline-block;width: 35%;text-align: left">
                  车主姓名:
                </span>
                <span style="width: 65%;display: inline-block;text-align: left;">
                    {{carInfo.ownerName}}
                </span>
            </div>

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
             padding:10px;background-color:transparent;"
                 ng-click="datetimepicker(carInfo,'issueDate')">
                <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
                    注册日期:
                </span>

                <span style="display: inline-block;width: 65%;color:#888;font-size: .9em;text-align: left;"
                      ng-if="carInfo.issueDate!==undefined&&carInfo.issueDate!==null">
                    {{carInfo.issueDate|date:'yyyy-MM-dd HH:mm'}}
                </span>


            </div>

            <div class="item" ng-if="priority=='highest'"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                        padding:10px;background-color:transparent;overflow: initial">
                <span  style="display: inline-block;width: 35%;text-align: left">
                    厂牌型号:
                </span>

                <span style="width: 65%;display: inline-block;text-align: left;">
                    {{carInfo.factoryNum}}
                </span>
            </div>

            <div class="item" ng-if="priority=='highest'"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
           padding:10px;background-color:transparent;overflow: initial">

            <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
              发动机号:
            </span>
                <span style="width: 65%;display: inline-block;text-align: left;">
              {{carInfo.engineNum}}
            </span>
            </div>

            <div class="item" ng-if="priority=='highest'"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
           padding:10px;background-color:transparent;overflow: initial">

            <span class="input-label" style="display: inline-block;width: 35%;text-align: left">
              车架号:
            </span>
                <span style="width: 65%;display: inline-block;text-align: left;">
              {{carInfo.frameNum}}
            </span>
            </div>




        </div>
    </ion-content>
</ion-view>
