<ion-view view-title="车险订单详情">

  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr"
              ng-click="go_back()"
              style="font-size: 2.4em;"
      >
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>


  </ion-nav-bar>


  <ion-content scroll="true" lazy-scroll>



    <!-- inset one -->
    <div class="list list-inset" style="margin: 0;margin-bottom:0px;" >
      <div class="item" style="padding:16px;position: relative">
        车牌号:
        <span style="position: absolute;left:35%;">{{order.carInfo.carNum}}</span>
      </div>

      <div class="item" style="padding:16px;border-bottom:0;">
        <span style="width: 50%;display: inline-block;">
          <span style="display: inline-block;margin-right:20px;">
            投保人:
          </span>

          <span style="display: inline-block;">{{order.insurer.perName}}</span>
        </span>

        <span style="width: 50%;display: inline-block;">
          <span style="display: inline-block;margin-right: 20px;">
             被保险人:
          </span>

          <span style="display: inline-block;">
            {{order.insuranceder.perName}}
          </span>
        </span>
      </div>

    </div>

    <!-- inset two -->
    <div
      class="list list-inset"
      style="margin-bottom:0px;margin-left:0px;margin-right:0px;margin-top:0px;"
      ng-if="order.items!==undefined&&order.items!==null">
      <div class="item item-divider">
        保险项目
      </div>
      <div class="item" style="padding: 16px;" ng-repeat="item in order.items">
          <span>
            {{item.productName}}:
          </span>
          <span style="position:absolute;left:35%;text-align: center">
            {{item.insuranceFee}}
          </span>
      </div>
      <!-- 不计免赔 -->
      <div class="item" style="padding: 16px;"
           ng-if="order.price.nonDeductibleInsurance!==undefined&&order.price.nonDeductibleInsurance!==null">
        <span>
          不计免赔:
        </span>

        <span style="position:absolute;left:35%;text-align: center">
            {{order.price.nonDeductibleInsurance}}
          </span>
      </div>
      <!-- 车船税 -->
      <div class="item" style="padding: 16px;"
           ng-if="order.price.carTax!==undefined&&order.price.carTax!==null">
        <span>
          车船税:
        </span>

        <span style="position:absolute;left:35%;text-align: center">
            {{order.price.carTax}}
          </span>
      </div>
      <!-- 积分 -->
      <div class="item" style="padding: 16px;color:#0a9dc7;"
           ng-if="order.price.carTax!==undefined&&order.price.carTax!==null">
        <span>
          积分:
        </span>

        <span style="position:absolute;left:35%;text-align: center">
            {{order.price.score}}
          </span>
      </div>

    </div>

    <!-- inset three -->
    <div class="list list-inset" style="margin:0;margin-bottom:40px;padding-top:0px;" >

      <div class="item" style="padding:16px;">
        <span style="width: 50%;display: inline-block">
          <span style="font-weight: bold;vertical-align: middle;padding-right:20px;">
            总保费:
          </span>
          <span style="display: inline-block;color: rgba(228, 93, 46, 0.87);vertical-align: middle;">
            {{order.insuranceFeeTotal}}
          </span>
        </span>

        <span style="width: 50%;display: inline-block;">
          <span style="vertical-align: middle;display: inline-block;font-weight: bold;padding-right:15px;">
            报价图例
          </span>
          <span style="vertical-align: middle;display: inline-block;">
            <button class="button button-small button-calm" ng-click="openOrderScreenShootModal()">
              <span style="font-size:1.2em;">点击查看</span>
            </button>
          </span>
        </span>

      </div>
      <div class="item" href="" style="padding:16px;">
        生效日期:
        <span style="position: absolute;left:35%">
          {{order.orderDate|date:'yyyy-MM-dd HH:mm'}}
        </span>
      </div>
    </div>



  </ion-content>




</ion-view>
