
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view  hide-nav-bar="true">
        <ion-content>

            <!-- header -->
            <div style="width: 100%;height:80px;background: #11c1f3;position: relative">

                <!-- goback  -->
                <div style="position: absolute;left:2%;top:30%;">
                    <div style="width: 100%;height: 100%;display: table;margin-left:10%;"
                         ng-click="go_back()">
                       <span style="display: table-cell;vertical-align: middle;color:#fff;font-size: 2.4em;">
                         <i class="fa fa-chevron-left"></i>
                       </span>
                    </div>
                </div>

                <!-- tile -->
                <div style="position: absolute;left:16%;top:35%;">
                    <span style="font-size: 1.3em;color:#fff;">上传银行卡</span>
                </div>

            </div>


            <div style="height: 100%;">

                <div class="list list-inset padding">
                    <!-- 银行卡上传新界面 -->
                    <!-- 银行卡正面  新的界面 -->
                    <div class="item"
                         style="margin:1px;border:0px;padding:10px;position: relative;">
                        <div style="width: 100%;height:260px;border:1px solid #aaa;display: table;text-align: center;border-radius: 10px;">
                            <div style="display: table-cell;vertical-align: middle;text-align: center;">

                                <div style="width: 80%;height: 200px;margin-left: 10%;position: relative;">

                                    <div style="position: absolute;top:0px;left:0px;width: 100%;height: 200px;z-index: 100;color:#a2a2a2;border-radius: 10px;
                                    background: rgba(80, 80, 80, 0.35);"
                                         ng-if="insurer.creditCard1_img==undefined||insurer.creditCard1_img==null">
                                        <div style="width: 100%;height: 100%;display: table;"
                                             ng-click="addAttachment(insurer,'creditCard1_img')">
                                            <div style="display: table-cell;vertical-align: middle;text-align: center;position: relative;height: 100%;">
                                                <div style="position: absolute;left:40%;top:30%;
                                                width: 70px;height: 70px;border:2px dashed #fff;border-radius: 70px;padding-top: 10px;">
                                                    <div style="width: 100%;height: 100%;position: relative">
                                                        <span style="color:#fff;font-size: 2.4em;margin-top: 10px;">
                                                            <i class="fa fa-id-card-o"></i>
                                                         </span>
                                                        <span style="position: absolute;right: 10%;bottom: 20%;font-size: 1.2em;color:#fff;">
                                                            <i class="fa fa-camera"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- 上传的银行卡正面 -->
                                    <img ng-src="{{insurer.creditCard1_img}}"
                                         style="width: 100%;max-height: 200px;border-radius: 10px;"
                                         ng-if="insurer.creditCard1_img!==undefined&&insurer.creditCard1_img!==null"/>
                                    <div style="position: absolute;top:0px;left:0px;width: 100%;height: 200px;z-index: 100;color:#a2a2a2;border-radius: 10px;"
                                         ng-if="insurer.creditCard1_img!==undefined&&insurer.creditCard1_img!==null">
                                        <div style="width: 100%;height: 100%;display: table;"
                                             ng-click="addAttachment(insurer,'creditCard1_img')">
                                            <div style="display: table-cell;vertical-align: middle;text-align: center;position: relative;height: 100%;">
                                                <div style="position: absolute;left:40%;top:30%;
                                                width: 70px;height: 70px;border:2px dashed #fff;border-radius: 70px;padding-top: 10px;">
                                                    <div style="width: 100%;height: 100%;position: relative">
                                                        <span style="color:#fff;font-size: 2.4em;margin-top: 10px;">
                                                            <i class="fa fa-id-card-o"></i>
                                                        </span>
                                                        <span style="position: absolute;right: 10%;bottom: 20%;font-size: 1.2em;color:#fff;">
                                                             <i class="fa fa-camera"></i>
                                                         </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div style="margin-top:20px;">
                                    <span style="color:#33c6cd;font-weight: bolder;">上传银行卡正面</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <!-- 银行卡反面  新的界面 -->
                    <div class="item"
                         style="margin:1px;border:0px;padding:16px;position: relative;">
                        <div style="width: 100%;height:260px;border:1px solid #aaa;display: table;text-align: center;border-radius: 10px;">
                            <div style="display: table-cell;vertical-align: middle;text-align: center;">

                                <div style="width: 80%;height: 200px;margin-left: 10%;position: relative;">
                                    <div style="position: absolute;top:0px;left:0px;width: 100%;height: 200px;z-index: 100;color:#a2a2a2;border-radius: 10px;
                                    background: rgba(80, 80, 80, 0.35);"
                                         ng-if="insurer.creditCard2_img==undefined||insurer.creditCard2_img==null">
                                        <div style="width: 100%;height: 100%;display: table;"
                                             ng-click="addAttachment(insurer,'creditCard2_img')">
                                            <div style="display: table-cell;vertical-align: middle;text-align: center;position: relative;height: 100%;">
                                                <div style="position: absolute;left:40%;top:30%;
                                                width: 70px;height: 70px;border:2px dashed #fff;border-radius: 70px;padding-top: 10px;">
                                                    <div style="width: 100%;height: 100%;position: relative">
                                                        <span style="color:#fff;font-size: 2.4em;margin-top: 10px;">
                                                            <i class="fa fa-id-card-o"></i>
                                                         </span>
                                                        <span style="position: absolute;right: 10%;bottom: 20%;font-size: 1.2em;color:#fff;">
                                                            <i class="fa fa-camera"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                    <!-- 上传的银行卡反面 -->
                                    <img ng-src="{{insurer.creditCard2_img}}"
                                         style="width: 100%;max-height: 200px;border-radius: 10px;"
                                         ng-if="insurer.creditCard2_img!==undefined&&insurer.creditCard2_img!==null"/>
                                    <div style="position: absolute;top:0px;left:0px;width: 100%;height: 200px;z-index: 100;color:#a2a2a2;border-radius: 10px;"
                                         ng-if="insurer.creditCard2_img!==undefined&&insurer.creditCard2_img!==null">
                                        <div style="width: 100%;height: 100%;display: table;"
                                             ng-click="addAttachment(insurer,'creditCard2_img')">
                                            <div style="display: table-cell;vertical-align: middle;text-align: center;position: relative;height: 100%;">
                                                <div style="position: absolute;left:40%;top:30%;
                                                width: 70px;height: 70px;border:2px dashed #fff;border-radius: 70px;padding-top: 10px;">
                                                    <div style="width: 100%;height: 100%;position: relative">
                                                        <span style="color:#fff;font-size: 2.4em;margin-top: 10px;">
                                                            <i class="fa fa-id-card-o"></i>
                                                         </span>
                                                        <span style="position: absolute;right: 10%;bottom: 20%;font-size: 1.2em;color:#fff;">
                                                             <i class="fa fa-camera"></i>
                                                        </span>
                                                    </div>

                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>

                                <div style="margin-top:20px;">
                                    <span style="color:#33c6cd;font-weight: bolder;">上传银行卡反面</span>
                                </div>
                            </div>

                        </div>
                    </div>

                    <button class="button button-block button-positive comm_btn" ng-click="upload()">
                        确认上传
                    </button>

                </div>



            </div>


        </ion-content>

    </ion-view>
</ion-nav-view>