
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view  hide-nav-bar="true">

   <ion-content scroll="false">

     <div style="width: 100%;height: 50px;background: darkcyan">
       <div style="display: inline-block;width: 12%;height: 100%;">
         <div style="width: 100%;height: 100%;display: table;margin-left:10%;"
              ng-click="go_back()">
           <span style="display: table-cell;vertical-align: middle;color:#fff;font-size: 2.4em;">
             <i class="ion-arrow-left-c"></i>
           </span>
         </div>
       </div>
       <div style="display: inline-block;width: 24%;height: 100%;">
          <div style="width: 100%;height: 100%;padding-top:20px;">
              <div ng-style="tabIndex==0?selectedTabStyle:unSelectedTabStyle" ng-click="tab_change(0)">
                <span style="display: table-cell;vertical-align: middle;color:#fff;">
                  基础套餐
                </span>
                <span style="position: absolute;top:80%;color:darkcyan;left:45%;font-size: 2em;z-index:999;"
                    ng-if="tabIndex==0">
                  <i class="ion-arrow-down-b"></i>
                </span>
              </div>
          </div>
       </div>
       <div style="display: inline-block;width: 24%;height: 100%;">
          <div style="width: 100%;height: 100%;padding-top:20px;">
              <div ng-style="tabIndex==1?selectedTabStyle:unSelectedTabStyle" ng-click="tab_change(1)">
                <span style="display: table-cell;vertical-align:middle;color:#fff;">
                  建议套餐
                </span>
                <span style="position: absolute;top:80%;color:darkcyan;left:43%;font-size: 2em;z-index:999;"
                      ng-if="tabIndex==1">
                  <i class="ion-arrow-down-b"></i>
                </span>
              </div>
          </div>
       </div>
       <div style="display: inline-block;width: 24%;height: 100%;">
         <div style="width: 100%;height: 100%;padding-top:20px;">
           <div ng-style="tabIndex==2?selectedTabStyle:unSelectedTabStyle" ng-click="tab_change(2)">
             <span style="display: table-cell;vertical-align:middle;color:#fff;">
               自定义套餐
             </span>
             <span style="position: absolute;top:80%;color:darkcyan;left:45%;font-size: 2em;z-index:999;"
                   ng-if="tabIndex==2">
               <i class="ion-arrow-down-b"></i>
             </span>
           </div>
         </div>
       </div>
       <div style="display: inline-block;width: 18%;"></div>
     </div>



    <div style="height: 70%;">
      <div class="row"
           style="display: block;height: 10px;margin-bottom:6px;">
      </div>

      <ion-scroll style="height: 95%;" delegate-handle="products_scroll">
        <div>

          <div class="row"
               ng-repeat="(key, product)  in tabs[tabIndex].products"
               style="border-bottom:1px solid #eee;padding:0px;margin-bottom:6px;padding-top: 4px;padding-bottom: 4px;">
            <div class="col-80" style="margin-left: 10%;">


                <!--<div class="toggle toggle-assertive" style="position: absolute;right: 6%;">-->
                  <!--<input type="checkbox" ng-model="product.checked">-->
                  <!--<div class="track">-->
                    <!--<div class="handle"></div>-->
                  <!--</div>-->
                <!--</div>-->

              <div class="item" style="margin:1px;border:0px;padding:3px;padding-left: 16px;background-color:transparent;">

                <div style="display: inline-block;width:45%;">
                  {{product.productName}}
                </div>
                <div style="display: inline-block;width: 10%;"></div>
                <div style="display: inline-block;width: 45%;">
                  <div class="switch_search">
                    <div class="switch_search_tab"
                         ng-class="product.checked!=true ? '' : 'off_search_tab'"
                         ng-click="setter(product,'checked',false);"
                    >
                      on
                    </div>
                    <div class="switch_search_tab"
                         ng-class="(product.checked!=true) ? 'off_search_tab' : ''"
                         ng-click="setter(product,'checked',true)"
                    >
                      off
                    </div>
                    <!-- the most import part -->
                    <div class="switch_bg" ng-class="product.checked==true ? 'search_right' :'search_left'"></div>
                  </div>
                </div>

              </div>


              <label class="item"
                     style="border:0px;display: inline-block;width: 100%;position: relative;padding-top: 3px;padding-bottom: 3px;"
                     ng-if="product.isIrrespectable==1"
                     ng-click="toggle(product,'irrespective')">
                不计免赔
                <div style="font-size: 2em;display: inline-block;position: absolute;right: 10%;top:-20%;">
                  <i ng-if="product.irrespective!=true" class="ion-ios-circle-outline"></i>
                  <i ng-if="product.irrespective==true" class="ion-checkmark-circled" style="color:#00c9ff"></i>
                </div>
              </label>

              <label class="item" style="border:0px;display: inline-block;width: 100%;padding-top: 3px;padding-bottom: 3px;"
                     ng-if="product.insuranceTypes!==undefined&&product.insuranceTypes!==null"
                     ng-click="actionSheet(product,'insuranceTypes',['insuranceTypes=>insuranceType','productIds=>productId'])">
                保额:
                <span style="position: absolute;right: 50%;">
                  {{product.insuranceType}}
                  <i class="ion-ios-arrow-down"></i>
                </span>


              </label>
              <label class="item" style="border:0px;display: inline-block;width: 100%;padding-top: 3px;padding-bottom: 3px;"
                     ng-if="(product.insuranceTypes==undefined||product.insuranceTypes==null)&&
                     (product.insuranceType!=null||product.insuranceType!=undefined)"
              >
                保额:
                <span style="position: absolute;right:50%;">
                  {{product.insuranceType}}
                </span>
              </label>


            </div>
          </div>

        </div>
      </ion-scroll>

    </div>



    <div style="height: 30%;width: 100%"
         ng-click="openCompanyModal();">
      <div class="row" style="display:table;height: 100%;">
        <div style="width: 100%;display: table-cell;vertical-align: middle;">
          <button style="display: table-cell;min-height:35px;width: 60%;margin-left:20%;" class="button button-block button-positive">
            确认套餐选择
          </button>
          <div style="width: 100%;height: 15px;">
          </div>
        </div>
      </div>
    </div>



  </ion-content>




</ion-view>
