<ion-view view-title="车险订单详情">

    <ion-nav-bar class="bar-stable" align-title="center" >
        <ion-nav-buttons side="left">
            <button class="button button-icon button-clear bar_arr"
                    style="font-size: 2.4em;"
                    ng-click="go_back()">
                <i class="ion-chevron-left"></i>
            </button>
        </ion-nav-buttons>
    </ion-nav-bar>


    <ion-content scroll="true" lazy-scroll>


        <!-- inset one -->
        <div class="list list-inset" style="margin-bottom:40px;margin-left:0px;margin-right:0px;" >
            <div class="item item-divider">
                编号
            </div>
            <div class="item" style="padding:16px;position: relative;border-left:0px;border-right:0px;">
                车牌号:
                <span style="position: absolute;left: 35%;">{{order.carInfo.carNum}}</span>
            </div>
            <div class="item" style="padding:16px;position: relative;border-left:0px;border-right:0px;">
                订单号:
                <span style="position: absolute;left: 35%;">{{order.orderNum}}</span>
            </div>

        </div>

        <!-- inset two -->
        <div class="list list-inset"
                style="margin-bottom:20px;margin-left:0px;margin-right:0px;"
                ng-if="order.products!==undefined&&order.products!==null">
            <div class="item item-divider">
                订单产品
            </div>
            <div class="item" style="padding: 16px;position: relative;" ng-repeat="product in order.products">
                <span>
                  {{product.productName}}:
                </span>
                <span style="position:absolute;left:35%" ng-if="product.insuranceType!=undefined&&product.insuranceType!=null">
                  (保额){{product.insuranceType}}
                </span>

            </div>
        </div>

        <!-- inset three -->
        <div class="list list-inset" style="margin-bottom:40px;margin-left:0px;margin-right:0px;margin-top:0px" >
            <div class="item" style="padding:16px;position: relative;border-left:0px;border-top:0px;
            border-right:0px;color:rgba(228, 93, 46, 0.87);font-size: 1em;">
                被保险人:
                <span style="position: absolute;left:35%;">{{order.insuranceder.perName}}</span>
            </div>
            <div class="item" style="padding:16px;font-size: 1em;color:rgba(228, 93, 46, 0.87);">
                申请日期:
                <span style="position: absolute;left:35%;">
                    {{order.applyTime|date:'yyyy-MM-dd HH:mm'}}
                </span>
            </div>
        </div>

        <button class="button button-calm"
                ng-click="modifyOrder()"
                style="width: 70%;margin-left:15%;" ng-if="haveModifyOrder==false">
            修改订单
        </button>

        <button class="button button-calm"
                style="width: 70%;margin-left:15%;" ng-if="haveModifyOrder==true"
        >
            订单正在修改.....
        </button>


    </ion-content>




</ion-view>
