<ion-view  class="passwordForget-view" view-title="修改密码">

  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr"
              style="font-size: 2em;color:#bf530c"
              ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>

  </ion-nav-bar>


  <ion-content scroll="false" class="padding" >

    <div class="list list-inset padding" style="margin-bottom:40px;">


      <div class="item" style="margin:1px;padding:4px;margin-bottom: 10px;">
        <span class="input-label"
              style="display: inline-block;font-size: 1.1em;color:#bf530c;width: 23%;vertical-align: bottom;
                  text-align: left;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;">
          手机号:
        </span>
        <span style="display: inline-block;width: 2%;"></span>
        <input type="text" placeholder="请输入手机号"
               style="display: inline-block;width:42%;vertical-align: middle;"
               ng-model="info.phone"
               ng-value="info.phone"
        />
        <span class="input-label"
              style="display: inline-block;background:#f79916;color:#fff;width:30%;border-radius: 8px;
                      text-align: center;vertical-align: middle;padding-right: 5px;"
              ng-click="getCode()">
          发送验证码
        </span>
        <span class="input-label"
              style="display: inline-block;width:1%;">
        </span>
      </div>

      <div class="item" style="margin:1px;padding:4px;margin-bottom: 10px;">
          <span class="input-label"
                style="display: inline-block;font-size: 1.1em;color:#bf530c;width: 23%;vertical-align:bottom;
                text-align: left;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;"
          >
            验证码:
          </span>
        <span style="display: inline-block;width: 2%;"></span>
        <input type="text" placeholder="请输入验证码"
               style="display: inline-block;width:65%;vertical-align: middle;"
               ng-model="info.code"
               ng-value="info.code"
        />

        <span class="input-label"
              style="display: inline-block;width:5%;">
        </span>
      </div>


      <div class="item" style="margin:1px;padding:4px;margin-bottom:10px;">
        <span class="input-label"
              style="display: inline-block;color:#bf530c;width: 23%;vertical-align: super;
              text-align: left;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;">
        新密码:
        </span>
        <span style="display: inline-block;width: 2%;"></span>
        <input type="text" placeholder="请输入新密码"
               style="display: inline-block;width:65%;vertical-align: super"
               ng-model="info.pwd"
               ng-value="info.pwd"/>
        <span class="input-label"
              style="display: inline-block;width:5%;">
                </span>
      </div>

      <div class="item" style="margin:1px;padding:4px;margin-bottom:10px;">
        <span class="input-label"
              style="display: inline-block;color:#bf530c;width: 23%;vertical-align: super;
              text-align: left;padding-bottom: 5px;padding-top:5px;border-right: 1px solid;">
        确认密码:
        </span>
        <span style="display: inline-block;width: 2%;"></span>
        <input type="text" placeholder="请再次输入新密码"
               style="display: inline-block;width:65%;vertical-align: super"
               ng-model="info.pwd_again"
               ng-value="info.pwd_again"/>
        <span class="input-label"
              style="display: inline-block;width:5%;">
                </span>
      </div>



      <div class="bar bar-footer  bar-assertive"
           style="position: static;margin-bottom:10px;" ng-click="save()">
        <h1 class="title">完成</h1>
      </div>


    </div>


  </ion-content>
</ion-view>
