
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view class="dashboard-view" hide-nav-bar="true">

        <ion-content class="background">
            <div class="banner">
                <img src="img/newBanner1.png"/>
            </div>

            <div style="margin-top: 30px;">

                <div style="margin-bottom: 40px;">
                    <div style="display:inline-block;width:40%"
                         ng-click="goIntoCarInsurance('car')">
                        <div style="text-align: center">
                            <img src="img/car1.png" class="animated zoomIn" style="max-width: 70px;"/>
                        </div>
                        <div class="label" >
                          <span>
                            车险
                          </span>
                        </div>
                    </div>

                    <div style="display:inline-block;width:40%"
                         ng-click="goto('life')">
                        <div style="text-align: center">
                            <img src="img/life1.png" class="animated zoomIn" style="max-width: 70px;"/>
                        </div>
                        <div class="label">
                            <span>寿险</span>
                        </div>
                    </div>
                </div>

                <div >
                    <div style="display:inline-block;width:40%"
                         ng-click="goto('maintain')">
                        <div style="text-align: center">
                            <img src="img/maintain1x.png" class="animated zoomIn" style="max-width: 70px;"/>
                        </div>
                        <div class="label">
                            维修
                        </div>
                    </div>

                    <div style="display:inline-block;width:40%"
                         ng-click="carDrivingManageSelect()">
                        <div style="text-align: center">
                            <img src="img/drivingService1.png" class="animated zoomIn" style="max-width: 70px;"/>
                        </div>
                        <div class="label">
                            车驾管服务
                        </div>
                    </div>
                </div>

            </div>
        </ion-content>
    </ion-view>
</ion-nav-view>


