<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view  hide-nav-bar="true">

        <ion-content style="width: 100%;padding: 0px;position: relative;height: 100%;" scroll="false">
            <div class="list list-inset " style="margin-bottom: 0px;height: 100%;margin:0;position: relative;">

                <!-- map -->
                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;
                 padding:0px;background-color:transparent;position: relative;width: 100%;">
                    <div id="angular_baidu_map" style="width:100%;height:350px;"></div>
                </div>

                <!-- 结果面板 -->
                <!--<div ng-style="resultPanelStyle">-->
                    <!--<div class="list" style="height: 100%;">-->
                        <!--<ion-scroll style="width: 100%;height: 94%;">-->
                            <!--<div class="item" ng-repeat="result in places" ng-click="navigate(result)">-->
                                <!--<div>-->
                                    <!--<span style="font-weight: bolder;color:#444;">-->
                                        <!--{{($index+1)}}.{{result.name}}-->
                                    <!--</span>-->
                                <!--</div>-->
                                <!--<div>-->
                                    <!--<div style="color:#666;font-size: 0.9em;">-->
                                        <!--距离:{{(result.distance/1000).toFixed(2)}}km-->
                                    <!--</div>-->
                                    <!--<div style="color:#666;font-size: 0.9em;">-->
                                        <!--地址:{{result.address}}-->
                                    <!--</div>-->
                                    <!--<div style="color:#666;font-size: 0.9em;" ng-if="result.phone!==undefined&&result.phone!==null">-->
                                        <!--电话:{{result.phone}}-->
                                    <!--</div>-->
                                <!--</div>-->
                            <!--</div>-->
                        <!--</ion-scroll>-->
                    <!--</div>-->
                <!--</div>-->
                <div ng-style="resultPanelStyle">
                    <div class="list" style="height: 100%;">
                        <div class="item" style="text-align: center;margin:0;padding: 8px;background: rgba(34,34,34,0.66);">
                            <div style="width: 100%;height: 100%;display: table;" >
                                <div style="display: table-cell;vertical-align: middle;">
                                    <div style="width: 100%;height: 17px;position: relative;top: -4px;">
                                        <!--<span style="background: rgba(170, 170, 170, 0.48);border-radius: 4px;height: 5px;width: 100px;display: inline-block;">-->
                                        <!--</span>-->

                                        <span style="position: absolute;left:34%;height: 100%;color:#fff;" ng-click="scaffoldResultPanel()">
                                            <span style="font-size: 1.8em;vertical-align: middle;">
                                                <i ng-if="contentPanelVisible==true" class="fa fa-angle-down"></i>
                                                <i ng-if="contentPanelVisible!=true" class="fa fa-angle-up"></i>
                                            </span>
                                            <span style="vertical-align: middle;">&nbsp;&nbsp;
                                                <span ng-if="contentPanelVisible==true">折叠面板</span>
                                                <span ng-if="contentPanelVisible!=true">展开面板</span>
                                            </span>
                                        </span>

                                        <span style="position: absolute;right: 2%;z-index: 1200;" ng-click="selectAll()">
                                            <button class="button button-small"
                                                    style="padding-top: 0px;height: 24px;line-height: 24px;min-height: 24px;
                                                            padding-left:20px;padding-right: 20px;background: #2b984a;color:#fff;
                                                font-weight: bolder;">
                                                全选
                                            </button>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <ion-scroll style="width: 100%;height: 94%;" delegate-handle="scroll-handle" on-scroll="scrollChange()">

                            <div class="item" ng-repeat="plot in populations[tag].plots" ng-click="navigate(plot)">
                                <div>
                                    <span style="font-weight: bolder;color:#444;">
                                        {{($index+1)}}.{{plot.name}}
                                    </span>
                                </div>
                                <div>
                                    <div style="color:#666;font-size: 0.9em;">
                                        距离:{{(plot.distance/1000).toFixed(2)}}km
                                    </div>
                                    <div style="color:#666;font-size: 0.9em;">
                                        地址:{{plot.address}}
                                    </div>
                                    <div style="color:#666;font-size: 0.9em;" ng-if="plot.phone!==undefined&&plot.phone!==null">
                                        电话:{{plot.phone}}
                                    </div>
                                </div>

                                <div style="position: absolute;right: 4%;top:25px;padding-left:8px;padding-right: 8px;
                                        padding-top:4px;padding-bottom: 4px;border-radius: 8px;border:1px solid #ff6528;">
                                    <span style="font-size: 1.4em;"><i class="fa fa-hand-pointer-o"></i></span>
                                    <span>选择这里</span>
                                </div>

                            </div>
                            <div class="item" style="background: #ddd;padding: 4px;"
                                 ng-if="populations.B!==undefined&&populations.B!==null">
                                <ul style="width: 100%;list-style: none;">
                                    <li ng-repeat="(tagName, population) in populations" class="card"
                                        ng-style="tagName==tag?selectedTagStyle:unSelectedTagStyle"  ng-click="tagChange(tagName)">
                                        <span ng-if="tagName==tag" style="color:#fff;vertical-align: middle;">
                                            {{tagName}}
                                        </span>
                                        <span ng-if="tagName!=tag" style="color:#666;vertical-align: middle;">
                                            {{tagName}}
                                        </span>
                                    </li>
                                </ul>
                            </div>
                            <div style="width: 100%;height: 20px;"></div>
                        </ion-scroll>
                    </div>
                </div>




                <!-- 搜索框 -->
                <div class="item card" style="position: absolute;top:2%;width: 90%;margin-left: 5%;
                    height: 50px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;">
                    <div style="width:100%;height: 100%;position: relative;">

                         <span style="width: 15%;height: 100%;display: inline-block;
                            position: absolute;left:0%;top:0px;">
                            <div style="width: 100%;height: 100%;display: table;text-align: center;background: #fff"
                                 ng-click="goBack()">
                                <span style="display: table-cell;vertical-align: middle;font-size: 1.6em;color:#666;">
                                    <i class="ion-chevron-left"></i>
                                </span>
                            </div>
                        </span>

                        <span style="width: 85%;display: inline-block;position: absolute;left:15%;top:0px;
                            height: 100%; padding-top: 6px;padding-bottom: 6px;padding-left:15px;">
                            <div style="width: 100%;height: 100%;display: table;">
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                      ng-if="service=='administrator'">审车</span>
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                      ng-if="service=='paper_validate'">审证</span>
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                       ng-if="service=='airport'">接送机</span>
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                      ng-if="service=='park_car'">接送站</span>
                            </div>
                        </span>

                    </div>
                </div>


                <!-- 接机、送机 -->
                <div ng-if="service=='airport'">
                    <div style="position: absolute;right: 10px;top:20%;height:50px;z-index: 1000;">
                        <div class="card" style="display: table;width: 50px;height: 100%;margin:0px;text-align: center;">
                            <div ng-style="mode=='pickUp'?blockInStyle:blockOffStyle" ng-click="modeSwitch('pickUp')">
                                <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-up-right"></i>
                        </span>
                                </div>
                                <div>
                                    <span style="font-weight: bolder;">接机</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="position: absolute;right: 10px;top:29%;height:50px;z-index: 1000;">
                        <div class="card" style="display: table;width: 50px;height: 100%;margin:0px;text-align: center;">
                            <div ng-style="mode=='seeOff'?blockInStyle:blockOffStyle" ng-click="modeSwitch('seeOff')">
                                <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-up-right"></i>
                        </span>
                                </div>
                                <div>
                                    <span style="font-weight: bolder;">送机</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 取站、送站 -->
                <div ng-if="service=='park_car'">
                    <div style="position: absolute;right: 10px;top:20%;height:50px;z-index: 1000;">
                        <div class="card" style="display: table;width: 50px;height: 100%;margin:0px;text-align: center;">
                            <div ng-style="mode=='pickUp'?blockInStyle:blockOffStyle" ng-click="modeSwitch('pickUp')">
                                <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-up-right"></i>
                        </span>
                                </div>
                                <div>
                                    <span style="font-weight: bolder;">接站</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div style="position: absolute;right: 10px;top:29%;height:50px;z-index: 1000;">
                        <div class="card" style="display: table;width: 50px;height: 100%;margin:0px;text-align: center;">
                            <div ng-style="mode=='seeOff'?blockInStyle:blockOffStyle" ng-click="modeSwitch('seeOff')">
                                <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-down-left"></i>
                        </span>
                                </div>
                                <div>
                                    <span style="font-weight: bolder;">送站</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- 全选 -->
                <div style="position: absolute;left: 7px;top:25%;height:35px;z-index: 1000;" ng-if="populations[tag].plots.length>1">
                    <div class="card" style="display: table;width: 45px;height: 100%;margin:0px;text-align: center;">
                        <div style="display:table-cell;vertical-align: middle;background:#00c9ff;color:#666"
                             ng-click="SelectAll(places )">
                            <div>
                                <span style="font-size: 2em;color:#fff;">
                                    <i class="ion-checkmark-round"></i>
                                </span>
                            </div>
                            <div>
                                <span style="font-weight: bolder;color:#fff;">全选</span>
                            </div>
                        </div>
                    </div>
                </div>


            </div>




        </ion-content>

    </ion-view>
</ion-nav-view>
