<ion-nav-view class="slide-left-right" hide-nav-bar="true">
    <ion-view  hide-nav-bar="true">

        <ion-content style="width: 100%;padding: 0px;position: relative;height: 100%;" scroll="false">
            <div class="list list-inset " style="margin-bottom: 0px;height: 100%;margin:0;position: relative;">

                <!-- map -->
                <div class="item"
                     style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #eee;
                 padding:0px;background-color:transparent;position: relative;width: 100%;">
                    <div id="angular_baidu_map" style="width:100%;height:400px;"></div>
                </div>

                <!-- 结果面板 -->
                <div ng-style="resultPanelStyle">
                    <div class="list" style="height: 100%;">
                        <ion-scroll style="width: 100%;height: 94%;">
                            <div class="item" ng-repeat="result in places" ng-click="navigate(result)">
                                <div>
                                    <span style="font-weight: bolder;color:#444;">
                                        {{($index+1)}}.{{result.name}}
                                    </span>
                                </div>
                                <div>
                                    <div style="color:#666;font-size: 0.9em;">
                                        距离:{{(result.distance/1000).toFixed(2)}}km
                                    </div>
                                    <div style="color:#666;font-size: 0.9em;">
                                        地址:{{result.address}}
                                    </div>
                                    <div style="color:#666;font-size: 0.9em;" ng-if="result.phone!==undefined&&result.phone!==null">
                                        电话:{{result.phone}}
                                    </div>
                                </div>
                            </div>
                        </ion-scroll>
                    </div>
                </div>


                <!-- 搜索框 -->
                <div class="item card" style="position: absolute;top:2%;width: 90%;margin-left: 5%;
                    height: 50px;padding-bottom: 0px;padding-top: 0px;padding-left: 0px;padding-right: 0px;">
                    <div style="width:100%;height: 100%;position: relative;">

                         <span style="width: 15%;height: 100%;display: inline-block;
                            position: absolute;left:0%;top:0px;">
                            <div style="width: 100%;height: 100%;display: table;text-align: center;background: #fff"
                                 ng-click="goBack()">
                                <span style="display: table-cell;vertical-align: middle;font-size: 1.6em;color:#666;">
                                    <i class="ion-chevron-left"></i>
                                </span>
                            </div>
                        </span>

                        <span style="width: 85%;display: inline-block;position: absolute;left:15%;top:0px;
                            height: 100%; padding-top: 6px;padding-bottom: 6px;padding-left:15px;">
                            <div style="width: 100%;height: 100%;display: table;">
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                      ng-if="service=='administrator'">审车</span>
                                <span style="display: table-cell;vertical-align: middle;color:#222;font-weight: bolder;"
                                      ng-if="service=='paper_validate'">审证</span>
                            </div>
                        </span>

                    </div>
                </div>
            </div>

            <!-- 取车、送车 -->
            <div style="position: absolute;right: 10px;top:20%;height:45px;z-index: 1000;">
                <div class="card" style="display: table;width: 45px;height: 100%;margin:0px;text-align: center;">
                    <div ng-style="mode=='servicePlace'?blockInStyle:blockOffStyle" ng-click="modeSwitch('servicePlace')">
                        <div>
                        <span style="font-size: 2em;">
                            <i class="ion-arrow-graph-up-right"></i>
                        </span>
                        </div>
                        <div>
                            <span style="font-weight: bolder;">检测点</span>
                        </div>
                    </div>
                </div>
            </div>

        </ion-content>

    </ion-view>
</ion-nav-view>
