<ion-nav-view class="slide-left-right" hide-nav-bar="true">
 <ion-view view-title="车辆管理" hide-nav-bar="true">

    <ion-content scroll="false" >

        <

        <div style="height:10%;width:100%;background-color:#845626;">
            <div ng-click="goto('update_car_info')" style="display: inline-block; width:60%;text-align: right;margin-top: 7%;margin-left: 8%;">
                <button class="button button-small button-dark"
                        style="margin-left:30%;background-color: #795e41;border-radius:10px">
                    创建新车
                </button>
            </div>
            <div ng-click="goto('bindNewCar')" style="display: inline-block;width:30%;margin-top: 7%;">
                <button class="button button-small button-dark"
                        style="margin-left:30%;background-color: #795e41;border-radius:10px">
                    绑定新车
                </button>
            </div>
        </div>

        <div class="list list-inset padding"
             style="margin-bottom: 10%;
                    margin-left: 0;
                    margin-right: 0;
                    padding: 0;">
            <div class="item"  ng-repeat="car in relativeCars" ng-click="Mutex(car,'checked',relativeCars)">

                <div>

                    <div  display="inline-block"
                          style="width:25%;float:left;margin-right:5%;">

                        <i ng-if="car.checked!=true" class="ion-ios-information-outline" style="font-size:200%"></i>
                        <i ng-if="car.checked==true" class="ion-ios-information" style="font-size:200%"></i>

                    </div>

                </div>

                <div style="display:inline-block;width:65%;float:left;margin-right:5%;">
                    <div>
                        <span>{{car.carNum}}</span>
                    </div>
                    <div>
                        <span>{{car.firstRegisterDate|date:'yyyy-MM-dd HH:mm'}}</span>
                    </div>
                </div>
            </div>
        </div>


        <div style="heigh:30%; margin-bottom:40px;">
                <div class="card" style="margin-bottom:40px;">

                    <div class="item item-text-wrap"
                         style="padding:4px"
                    >
                        <div class="item"
                             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                            <span  style="display: inline-block;width: 25%;text-align: left">
                                厂牌型号:
                            </span>

                            <span style="width: 60%;display: inline-block;text-align: left;">
                              {{factoryNum}}
                            </span>

                        </div>

                        <div class="item"
                             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                            <span  style="display: inline-block;width: 25%;text-align: left">
                                发动机型号:
                            </span>

                            <span style="width: 60%;display: inline-block;text-align: left;">
                              {{engineNum}}
                            </span>

                        </div>

                        <div class="item"
                             style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                            <span  style="display: inline-block;width: 25%;text-align: left">
                                车架号:
                            </span>

                            <span style="width: 60%;display: inline-block;text-align: left;">
                              {{frameNum}}
                            </span>

                        </div>


                    </div>

                </div>

            </div>

        </div>


    </ion-content>

</ion-view>
