<ion-view view-title="推荐有礼">

  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr" style="font-size: 2em;" ng-click="go_back()">
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
    <ion-nav-buttons side="right">

    </ion-nav-buttons>

  </ion-nav-bar>

  <ion-content scroll="false" >

    <ion-scroll>

      <div class="list padding">
        <div class="item" style="border:0px;">
          <textarea placeholder="Comments" style="border:1px solid #aaa;width: 80%;margin-left:10%;" rows="5"
                    ng-model="wx.text"
                    ng-value="wx.text"
          ></textarea>


          <button class="button button-block button-calm" style="width: 30%;margin-left:35%;"
                  ng-click="wxShareText()">
            <span style="font-size: 2em;"><i class="fa fa-weixin"></i></span>
            <span>分享</span>
          </button>
        </div>
      </div>
    </ion-scroll>


  </ion-content>

</ion-view>
