
<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view view-title="我的积分" hide-nav-bar="true">

  <ion-content class="padding" lazy-scroll style="padding:0;background-image: url('img/flow_and_moutain.png');background-repeat: no-repeat;
    background-size: 100%;background-position: 0% 100%;">

    <!-- header bar -->
    <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
      <h1 class="title" style="display: inline-block;width:100%;text-align:center;">
        <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;"  ng-click="go_back()">
          <i class="ion-chevron-left"></i>
        </span>
        <span style="display: inline-block;width: 60%;text-align: center;">
          我的积分
        </span>
        <button style="display: inline-block;font-size:0.8em;text-align: center;background: rgba(255, 255, 255, 0.69);"
              ng-click="checkIdCard()">
         积分提现
        </button>
        <span style="display: inline-block;width: 5%;">
        </span>
      </h1>
    </div>


    <ul class="list" style="padding:10px;background: transparent;">

      <li class="item item-icon-right"
          style="padding-top:0px;padding-left:0px;padding-bottom:0px;border: 0px;background: transparent;"
          >
        <div style="width: 25%;float:left;">
           <span style="display: inline-block">
             <img src="img/person.jpg" style="width:65px;height: 65px;border-radius: 20px;"/>
           </span>
        </div>
        <div style="width:75%;float:left;padding-top:2%;">
          <h2 style="margin-bottom: 5%;">
            <span>用户:</span>
            <span ng-if="userInfo!==undefined&&userInfo!==null">{{userInfo.perName}}</span>
          </h2>

          <h2>
            <span>手机:</span>
            <span ng-if="userInfo!==undefined&&userInfo!==null">
              {{userInfo.mobilePhone}}
            </span>
          </h2>

          <!--<i class="icon ion-chevron-right" style="font-size: 1.2em;"></i>-->
        </div>

      </li>
    </ul>


    <!--积分新tab-->
    <div style="margin:5%;margin-left:6%;margin-right:3%;width:90%;height: 40px;padding: 0;">

      <div ng-style="score_tab==0?selectedTabStyle:unSelectedTabStyle"
           style="border-top-left-radius: 7px;border-bottom-left-radius: 7px;"
           ng-click="change_scoreTab(0)">
        <div style="width: 100%;height: 100%;display: table;">
          <span style="display: table-cell;vertical-align: middle;text-align: center;font-weight: bolder;">积分收入</span>
        </div>
      </div>
      <div ng-style="score_tab==1?selectedTabStyle:unSelectedTabStyle"
           style="border-top-right-radius: 7px;border-bottom-right-radius: 7px;"
           ng-click="change_scoreTab(1)">
        <div style="width: 100%;height: 100%;display: table;">
          <span style="display: table-cell;vertical-align: middle;text-align: center;font-weight: bolder;">积分支出</span>
        </div>
      </div>
    </div>










    <!-- 积分tab 改为车驾管服务-->
    <!--<div class="list" scroll="true">-->
      <!--<div class="list" style="margin-bottom: 0px;">-->
        <!--<ul class="ul-tabs finance-theme">-->
          <!--<li style="width:50%;">-->
            <!--<div class="cell"-->
                 <!--ng-class="{true: 'selected', false: ''}[score_tab==0]"-->
                 <!--ng-click="change_scoreTab(0)"-->
                 <!--style="text-align: center"-->
              <!--&gt;-->
            <!--<span style="position:absolute;left: 20%;right:20%;top:30%;">-->
              <!--积分收入-->
            <!--</span>-->
            <!--</div>-->
          <!--</li>-->

          <!--<li style="width:50%">-->
            <!--<div class="cell"-->
                 <!--ng-class="{true: 'selected', false: ''}[score_tab==1]"-->
                 <!--ng-click="change_scoreTab(1)"-->
                 <!--style="text-align: center"-->
              <!--&gt;-->
            <!--<span style="position:absolute;left: 20%;right:20%;top:30%;">-->
              <!--积分支出-->
            <!--</span>-->

            <!--</div>-->
          <!--</li>-->

        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->


    <div class="item" style="border: 0px;background: transparent;padding-bottom:5%">
      <span>您已积累积分</span>
      {{scoreBalance}}
    </div>



    <div class="list" ng-if="score_tab==0" style="margin: 8px;">

      <div class="item item-divider" style="background:#CBCBCB;border-top-left-radius: 10px;border-top-right-radius: 10px;">
        <div style="display: inline-block;width: 33%;text-align: center">
           收入类型
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          获取日期
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          积分数量
        </div>
      </div>


      <div class="item" ng-repeat="pay in pays[0]">
        <div style="display: inline-block;width: 33%;text-align: center">
          <span ng-if="pay.feeType==1">
            车险订单
          </span>
          <span ng-if="pay.feeType==2">
            寿险订单
          </span>
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          {{pay.feeTime|date:'yyyy-MM-dd HH:mm'}}
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          {{pay.fee}}
        </div>
      </div>

    </div>

    <div class="list" ng-if="score_tab==1">

      <div class="item item-divider" style="background:#CBCBCB;border-top-left-radius: 10px;border-top-right-radius: 10px;">
        <div style="display: inline-block;width: 33%;text-align: center">
          支出类型
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          支出日期
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          积分支出
        </div>
      </div>


      <div class="item" ng-repeat="pay in pays[1]">
        <div style="display: inline-block;width: 33%;text-align: center">
          服务订单
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          <span ng-if="pay.feeTime!==undefined&&pay.feeTime!==null">
            {{pay.feeTime|date:'yyyy-MM-dd HH:mm'}}
          </span>
          <span ng-if="pay.feeTime==undefined||pay.feeTime==null">
            ----
          </span>
        </div>
        <div style="display: inline-block;width: 33%;text-align: center">
          {{pay.fee}}
        </div>
      </div>
    </div>




  </ion-content>




</ion-view>
</ion-nav-view>