<ion-view view-title="创建车辆">
  <ion-nav-bar class="bar-stable" align-title="center" >
    <ion-nav-buttons side="left">
      <button class="button button-icon button-clear bar_arr"
              ng-click="go_back()"
              style="font-size:1.8em;"
      >
        <i class="ion-chevron-left"></i>
      </button>
    </ion-nav-buttons>
  </ion-nav-bar>

  <ion-content style="padding:0px;">
    <!-- 车险 -->

    <div style="height: 100%;">
        <div class="list list-inset"
             style="margin-bottom:40px;background-color: transparent;margin-left:0px;margin-right:0px;">
            <!-- 用车城市 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">
                <span style="display: inline-block;width: 5%;text-align: center">
                    <i class="fa fa-map-marker"></i>
                </span>
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">
                    用车城市:
                </span>
                <span style="width: 50%;display: inline-block;text-align: left;">
                    {{city_confirmed!==undefined&&city_confirmed!==null?city_confirmed:''}}
                </span>
                <span style="width: 20%;display: inline-block;text-align: center;font-size: 1.4em;"
                    ng-click="selectCarNumPrefixByCity()">
                    <i class="ion-chevron-right"></i>
                </span>
            </div>

            <div class="item"
               style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;">
              <span style="display: inline-block;width: 5%;text-align: center">
                  <i class="fa fa-automobile"></i>
              </span>
              <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                  车牌:
              </span>
              <span style="width: 50%;display: inline-block;text-align: left;">
                  <input type="text" placeholder="请输入您的车牌"
                         style="display:inline-block;background-color: transparent;"
                         ng-value="carInfo.carNum"
                         ng-model="carInfo.carNum"
                    />
              </span>
              <span class="camera"
                  style="width: 20%;display:inline-block;font-size: 1.5em;text-align: center"
                  ng-click="selectCarInfoByCarNum()">
                <i class="ion-chevron-down"></i>
              </span>
            </div>

            <!-- 车主姓名 -->
            <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;">

                  <span style="display: inline-block;width: 5%;text-align: center">
                      <i class="fa fa-user"></i>
                  </span>
                  <span class="input-label" style="display: inline-block;width: 25%;text-align: left;">
                      姓名:
                  </span>
                  <span style="width: 25%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="请输入车主姓名"
                              style="display:inline-block;background-color: transparent;"
                              ng-value="carInfo.ownerName"
                              ng-model="carInfo.ownerName"
                              ng-change="validate(carInfo,'ownerName','/\\w|\\d/')"
                         />
                  </span>
                  <span style="display: inline-block;width: 40%;text-align: left;color:#ff3b30;font-size: 0.8em;"
                    ng-if="carInfo['ownerName_error']==false">
                      姓名不能含有数字和字母
                  </span>
            </div>

            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                 padding:10px;background-color:transparent;"
                 ng-click="datetimepicker(carInfo,'issueDate')">

                <span style="display: inline-block;width: 5%;text-align: center">
                    <i class="fa fa-calendar-minus-o"></i>
                </span>
                <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                    发证日期:
                </span>

                <span style="display: inline-block;width: 50%;color:#888;font-size: .9em;text-align: left;"
                      ng-if="carInfo.issueDate==null||carInfo.issueDate==undefined||carInfo.issueDate==''">
                  点击选择发证日期
                </span>

                <span style="display: inline-block;width: 50%;color:#888;font-size: .9em;text-align: center;"
                      ng-if="carInfo.issueDate!==undefined&&carInfo.issueDate!==null">
                       {{carInfo.issueDate|date:'yyyy-MM-dd HH:mm'}}
                </span>

                <span style="display: inline-block;width: 20%;text-align: center;font-size: 1.5em;">
                    <i class="ion-calendar"></i>
                </span>
            </div>


            <!-- 是否过户 -->
            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:0px;
                padding:10px;background-color:transparent;"
                 ng-click="Toggle('boolean',carInfo,'isTransfer')">

                <span style="display: inline-block;width: 55%;text-align: left">
                    是一年内过户的二手车吗:
                </span>
                <span style="display: inline-block;width: 25%;">
                </span>

                <span style="display: inline-block;width: 20%;text-align: center;margin-left:4px;">
                   <i ng-if="carInfo.isTransfer!=true" class="fa fa-square"
                      style="font-size: 1.5em;font-weight: bolder"></i>
                   <i ng-if="carInfo.isTransfer==true" class="fa fa-check-square"
                      style="font-size: 1.5em;font-weight: bolder"></i>
                </span>
            </div>


            <div class="item"
                 style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;padding:10px;background-color:transparent;"
                 ng-click="datetimepicker(carInfo,'firstRegisterDate')"
                 ng-if="carInfo.isTransfer==true"
            >

              <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                  过户日期:
              </span>

                <span style="display: inline-block;width: 65%;color:#888;font-size: .9em;text-align: center;"
                      ng-if="carInfo.firstRegisterDate==null||carInfo.firstRegisterDate==undefined||carInfo.firstRegisterDate==''">
                  点击选择过户日期
                </span>

                <span style="display: inline-block;width: 65%;color:#888;font-size: .9em;text-align: center;"
                      ng-if="carInfo.firstRegisterDate!==undefined&&carInfo.firstRegisterDate!==null">
                       {{carInfo.firstRegisterDate|date:'yyyy-MM-dd HH:mm'}}
              </span>

                <span style="position: absolute;right: 5%;top:30%;font-size: 1.5em;">
                   <i class="ion-calendar"></i>
                </span>
            </div>

            <div class="item item-divider"
            style="border:0px;padding:10px;padding-top:16px;padding-bottom:16px;border-bottom:1px solid #aaa;border-top:1px solid #aaa;
            position: relative;margin-bottom:30px;margin-top:0px;">
              <span style="width: 40%;display: inline-block;">绑定车辆信息</span>
              <span style="width: 25%;display: inline-block"></span>
              <span style="width:35%;display: inline-block;color:#00c9ff;text-align: center"
                ng-click="showDemoPicture1()">
                  如何填写?
              </span>
          </div>

            <!-- 车辆信息tab -->
            <div class="list" style="margin-bottom: 20px;">
            <ul class="ul-tabs transparent"
                style="background: rgb(203,203,203);background-color: transparent;border-bottom: 0px;">

              <li style="width:50%;">

                <div class="cell"
                     ng-class="{true: 'selected', false: ''}[licenseIndex==0]"
                     ng-click="licenseIndexChange(0);focusInFirstTab();blurSecondTab();"
                     style="background-color: transparent;position: relative"
                  >
                    <span style="position:absolute;left: 20%;top:40%;color: black;">
                        填写信息
                    </span>

                    <div ng-class="firstTabHint"
                         ng-style="firstTabStyle"
                         style="position: absolute;top:-70%;left: 1px ">
                        <div class="item"
                             style="padding: 2px;font-size: 0.5em;margin-top:2px;background: #444;color:#fff;border:0px;"
                             ng-click="tab_change(0);closePopover();">
                            选择填写信息可以不用上传行驶证
                        </div>

                        <div style="color:#f9f9f9;position: relative;height: 18px;margin-top:-7px;" >
                             <span style="position: absolute;left: 27.5%;color: #444;font-size: 1.1em;top:0px;">
                               <i class="ion-arrow-down-b"></i>
                             </span>
                        </div>
                    </div>

                </div>
              </li>

              <li style="width:50%;">
                <div class="cell"
                     ng-class="{true: 'selected', false: ''}[licenseIndex==1]"
                     ng-click="licenseIndexChange(1);blurFirstTab();focusInSecondTab()"
                     style="background-color: transparent;position: relative"
                  >
                    <span style="position:absolute;left: 20%;top:40%;color: black;" ng-click="">
                      上传行驶证
                    </span>

                    <div ng-class="secondTabHint"
                         style="position: absolute;top:-70%;right: 1px ">
                        <div class="item"
                             style="padding: 2px;font-size: 0.5em;margin-top:2px;background: #444;color:#fff;border:0px;">
                            选择上传行驶证可以不用填写信息
                        </div>

                        <div style="color:#f9f9f9;position: relative;height: 18px;margin-top:-7px;" >
                             <span style="position: absolute;right: 27.5%;color: #444;font-size: 1.1em;top:0px;">
                               <i class="ion-arrow-down-b"></i>
                             </span>
                        </div>
                    </div>

                </div>
              </li>
            </ul>
          </div>

            <ion-slide-box
            on-slide-changed="licenseSlideChanged($index)"
            style="background-color: transparent;"
            delegate-handle="carInfo-slide">
            <ion-slide style="overflow: initial;margin-bottom: 40px;">

              <div class="item"
                   style="margin:1px;border:0px;
               padding:10px;background-color:transparent;overflow: initial"
                >
              </div>

              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                  <span  style="display: inline-block;width: 25%;text-align: left">
                      厂牌型号:
                  </span>

                  <span style="width: 60%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="输入厂牌型号"
                             style="display:inline-block;background-color: transparent;" ng-value="carInfo.factoryNum"
                             ng-model="carInfo.factoryNum"
                             ng-focus="focusInFactoryNum()"
                             ng-blur="blurFactoryNum()"
                        />
                  </span>



              </div>

              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial">

                  <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                      发动机号:
                  </span>
                  <span style="width: 30%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="输入发动机号"
                             style="display:inline-block;background-color: transparent;"
                             ng-value="carInfo.engineNum"
                             ng-model="carInfo.engineNum"
                             ng-change="validate(carInfo,'engineNum','/^\\d{6,8}$/')"
                        />
                  </span>
                  <span style="width: 45%;display: inline-block;text-align: left;font-size: 0.7em;color:#ff3b30"
                        ng-if="carInfo['engineNum_error']==true">
                      请输入6位至8位的发动机号
                  </span>


              </div>

              <div class="item"
                   style="border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
               padding:10px;background-color:transparent;overflow: initial;">

                  <span class="input-label" style="display: inline-block;width: 25%;text-align: left">
                      车架号:
                  </span>
                  <span style="width: 60%;display: inline-block;text-align: left;">
                      <input type="text" placeholder="设置车架号"
                             style="display:inline-block;background-color: transparent;"
                             ng-value="carInfo.frameNum"
                             ng-model="carInfo.frameNum"
                             ng-change="validate(carInfo,'frameNum','/^\\w{17}$/')"
                        />
                  </span>
                  <div style="width: 100%;text-align: center;font-size: 0.8em;color:#ff3b30"
                    ng-if="carInfo['frameNum_error']==true">
                      请输入17位车架号
                  </div>

              </div>

            </ion-slide>

            <ion-slide>
              <div class="item"
                   style="margin:1px;border-top:0px;border-left:0px;border-right:0px;border-bottom:1px solid #222;
                   padding:10px;position: relative;background-color:transparent;">

                  <span
                    style="width: 60%;margin-left:20%;display: inline-block;text-align: left"
                    ng-click="open_uploadLicenseCardModal()"
                    >
                     <button class="button button-calm" style="width: 100%;">
                       上传行驶证
                     </button>
                  </span>

              </div>



            </ion-slide>

          </ion-slide-box>

            <div class="list list-inset padding" style="margin-bottom:40px;background-color:transparent;">
                <div class="bar bar-footer  bar-assertive" style="position: static" ng-click="postCarInfo()">
                  <h1 class="title">保存车辆信息</h1>
                </div>
            </div>

        </div>
    </div>


  </ion-content>

</ion-view>
