<ion-nav-view class="slide-left-right" hide-nav-bar="true">
  <ion-view view-title="寿险订单" hide-nav-bar="true">

  <ion-content scroll="true" lazy-scroll style="background-image: url('img/flow_and_moutain.png');background-repeat: no-repeat;
    background-size: 100%;background-position: 0% 100%;">

    <!-- header bar -->
    <div class="bar bar-header bar-dark" style="position: static;height:44px;width: 100%;padding-left: 16px;padding-right: 16px;background-color: rgba(17, 17, 17, 0.6);">
      <h1 class="title" style="display: inline-block;width:100%;text-align:center;">
                <span style="display: inline-block;width: 10%;text-align: center;font-size: 1.6em;"  ng-click="go_back()">
                    <i class="ion-chevron-left"></i>
                </span>
        <span style="display: inline-block;width: 70%;text-align: center;">
                    寿险订单
                </span>
        <span style="display: inline-block;font-size:1.5em;text-align: center;width: 20%;"
              ng-click="getOrders()">
                  <i class="ion-refresh"></i>
              </span>
        <span style="display: inline-block;width: 5%;">
              </span>
      </h1>
    </div>

    <div style="margin:5%;margin-left:7%;margin-right:3%;width:90%;height: 40px;padding: 0;">

      <div style="width: 2%;display: inline-block;height: 100%"></div>

      <div ng-style="tabIndex==0?selectedTabStyle:unSelectedTabStyle"
           style="border-top-left-radius: 7px;border-bottom-left-radius: 7px;"
           ng-click="tab_change(0)">
        <div style="width: 100%;height: 100%;display: table;">
          <span style="display: table-cell;vertical-align: middle;text-align: center;">已申请</span>
        </div>
      </div>
      <div ng-style="tabIndex==1?selectedTabStyle:unSelectedTabStyle" ng-click="tab_change(1)">
        <div style="width: 100%;height: 100%;display: table;">
          <span style="display: table-cell;vertical-align: middle;text-align: center;">寿险方案</span>
        </div>
      </div>
      <div ng-style="tabIndex==2?selectedTabStyle:unSelectedTabStyle"
           style="border-top-right-radius: 7px;border-bottom-right-radius: 7px;"
           ng-click="tab_change(2)">
        <div style="width: 100%;height: 100%;display: table;">
          <span style="display: table-cell;vertical-align: middle;text-align: center;">已完成</span>
        </div>
      </div>
      <div style="width: 1%;display: inline-block;height: 100%;"></div>
    </div>





    <div class="list list-inset padding" style="margin-bottom:40px;width: 100%;background: transparent;" >


      <!-- 已申请 新界面 -->

      <div class="item" ng-repeat="order in appliedOrders | orderBy:'-applyTime'"
           style="height: 70px;position: relative;border-right: 0px;border-left:0px;background: transparent;"
           ng-if="tabIndex==0">

        <div style="position: absolute;width: 30%;height: 100%;left:0;top:0;">
          <div style="width:100%;height: 100%;display: table;">
                <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;">

                  <div>
                    {{order.applyTime|date:'yyyy-MM-dd'}}
                  </div>
                  <div>
                    {{order.applyTime|date:'HH:mm'}}
                  </div>
                </span>
          </div>
        </div>

        <div style="position: absolute;width: 1px;height: 100%;left:30%;top:0;background: #aaa;">
          <div style="width: 100%;height: 100%;position: relative;">
            <div style="    position: absolute;top: 40%;margin-left: -6px;z-index: 9999;background: #fff;">
              <span style="font-size:0.8em;"><i class="fa fa-circle-o"></i></span>
            </div>
          </div>
        </div>

        <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

        <span style="position: absolute;left:35%;width: 45%;height: 100%;top:0;">
              <div style="width: 100%;height: 100%;display: table;">
                <div style="display: table-cell;vertical-align: middle;">
                  <div style="font-size: 0.8em;color:#222;">
                    {{order.orderNum}}
                  </div>
                  <div style="font-size: 0.8em;">
                    <span ng-if="order.orderState==2">正在报价</span>
                    <span ng-if="order.orderState==1">已申请</span>
                  </div>
                </div>
              </div>
          </span>

        <span style="width:20%;height:100%;position: absolute;left:80%;top:0;text-align: center;"
              ng-click="goAppliedLifeOrderDetail(order)">
              <div style="width: 100%;height: 100%;display: table;">
                <span style="display:table-cell;vertical-align: middle;">

                  <span style="font-size: 0.8em;display: inline-block;vertical-align: baseline;">详细&nbsp;</span>
                  <span style="font-size: 3em;display: inline-block;vertical-align: middle;">
                    <i class="ion-ios-arrow-forward"></i>
                  </span>

                </span>
              </div>
          </span>

      </div>

      <!-- 估价方案 新界面 -->

      <div class="item" ng-repeat="order in pricingOrders |orderBy:'-applyTime'"
           style="height: 70px;position: relative;border-right: 0px;border-left:0px;background: transparent;"
           ng-if="tabIndex==1">

        <div style="position: absolute;width: 30%;height: 100%;left:0;top:0;">
          <div style="width:100%;height: 100%;display: table;">
                <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;">

                  <div>
                    {{order.applyTime|date:'yyyy-MM-dd'}}
                  </div>
                  <div>
                    {{order.applyTime|date:'HH:mm'}}
                  </div>
                </span>
          </div>
        </div>

        <div style="position: absolute;width: 1px;height: 100%;left:30%;top:0;background: #aaa;">
          <div style="width: 100%;height: 100%;position: relative;">
            <div style="    position: absolute;top: 40%;margin-left: -6px;z-index: 9999;background: #fff;">
              <span style="font-size:0.8em;"><i class="fa fa-circle-o"></i></span>
            </div>
          </div>
        </div>

        <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

        <span style="position: absolute;left:35%;width: 45%;height: 100%;top:0;">
              <div style="width: 100%;height: 100%;display: table;">
                <div style="display: table-cell;vertical-align: middle;">
                  <div style="font-size: 0.8em;color:#222;">
                    {{order.orderNum}}
                  </div>
                  <div style="font-size: 0.8em;">
                    <span ng-if="order.orderState==3">报价完成</span>
                  </div>
                </div>
              </div>
          </span>

        <span style="width:20%;height:100%;position: absolute;left:80%;top:0;text-align: center;"
              ng-click="goDetail(order)">
              <div style="width: 100%;height: 100%;display: table;">
                <span style="display:table-cell;vertical-align: middle;">

                  <span style="font-size: 0.8em;display: inline-block;vertical-align: baseline;">详细&nbsp;</span>
                  <span style="font-size: 3em;display: inline-block;vertical-align: middle;">
                    <i class="ion-ios-arrow-forward"></i>
                  </span>

                </span>
              </div>
          </span>

      </div>



      <!-- 已完成 新界面-->

      <div class="item" ng-repeat="order in finishOrders |orderBy:'-applyTime'"
           style="height: 70px;position: relative;border-right: 0px;border-left:0px;background: transparent;"
           ng-if="tabIndex==2">

        <div style="position: absolute;width: 30%;height: 100%;left:0;top:0;">
          <div style="width:100%;height: 100%;display: table;">
                <span style="display: table-cell;vertical-align: middle;font-size: 0.8em;">

                  <div>
                    {{order.applyTime|date:'yyyy-MM-dd'}}
                  </div>
                  <div>
                    {{order.applyTime|date:'HH:mm'}}
                  </div>
                </span>
          </div>
        </div>

        <div style="position: absolute;width: 1px;height: 100%;left:30%;top:0;background: #aaa;">
          <div style="width: 100%;height: 100%;position: relative;">
            <div style="    position: absolute;top: 40%;margin-left: -6px;z-index: 9999;background: #fff;">
              <span style="font-size:0.8em;"><i class="fa fa-circle-o"></i></span>
            </div>
          </div>
        </div>

        <div style="position: absolute;width: 4%;height: 100%;left:31%;top:0;"></div>

        <span style="position: absolute;left:35%;width: 45%;height: 100%;top:0;">
              <div style="width: 100%;height: 100%;display: table;">
                <div style="display: table-cell;vertical-align: middle;">
                  <div style="font-size: 0.8em;color:#222;">
                    {{order.orderNum}}
                  </div>
                  <div style="font-size: 0.8em;">
                    <span ng-if="order.orderState==5">已完成</span>
                  </div>
                </div>
              </div>
          </span>

        <span style="width:20%;height:100%;position: absolute;left:80%;top:0;text-align: center;"
              ng-click="goDetail(order)">
              <div style="width: 100%;height: 100%;display: table;">
                <span style="display:table-cell;vertical-align: middle;">

                  <span style="font-size: 0.8em;display: inline-block;vertical-align: baseline;">详细&nbsp;</span>
                  <span style="font-size: 3em;display: inline-block;vertical-align: middle;">
                    <i class="ion-ios-arrow-forward"></i>
                  </span>

                </span>
              </div>
          </span>

      </div>



    </div>


    </div>

  </ion-content>

</ion-view>
</ion-nav-view>